<plex-box>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label style="font-weight: bold">Foto Actual</label>
                <div *ngIf="profesional.fotoArchivo">
                    <img [src]="foto" style="width: 85px"/>
                </div>
            </div>
        </div>
        </div>
        <div class="row">

        <div class="col-6">
            <div class="form-group">                                
                <div>
                    <div>
                        <label for="filePicker">Seleccione una foto:</label><br>
                        <input type="file" id="filePicker" (change)="handleFileSelect($event)">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">      
            <br>      
            <plex-button label="Guardar" type="success" (click)="upload()"  ></plex-button>
        </div>
    </div>
</plex-box>