<header id="sticky">
    <plex-title titulo="Dar turno" size="md">
        <plex-badge type="info">{{fechaElegida | date: 'dd/MM/yyyy'}} {{horarioElegido}}</plex-badge>
        <plex-button class="ml-2" label="Continuar" type="success" size="sm" id="#btn-continue" [disabled]="!horarioSi"
                     (click)="confirmTurno()"></plex-button>
    </plex-title>
</header>
<plex-label titulo="{{fechaElegida | date: 'dd/MM/yyyy'}}" subtitulo="{{horarioElegido}}" type="success" size="lg"
            icon="calendar-today">
</plex-label>
<plex-title titulo="Seleccionar turno" size="sm"></plex-title>
<div *ngIf='sinTurnos && horariosDisponibles.length > 0' class="h-75" justify="center">
    <plex-label titulo="No hay mas turnos para la fecha seleccionada" subtitulo="" type="default" size="lg"
                icon="calendar" direction="column">
    </plex-label>
</div>
<plex-grid size="md" type="auto" *ngIf="!sinTurnos && fechaElegida != undefined">
    <div *ngFor="let turno of horariosDisponibles; let idx = index">
        <plex-card type="{{(horariosDisponibles[idx] && horariosDisponibles[idx].ocupado)?'warning':'info'}}"
                   mode="outlined" selectable="true" [selected]="isActive(horariosDisponibles[idx])"
                   (click)="buildFechaTurno(horariosDisponibles[idx])"
                   [ngClass]="{'turno-activo' : isActive(horariosDisponibles[idx]),'disabled':(horariosDisponibles[idx] && horariosDisponibles[idx].ocupado)}">
            <plex-badge type="warning" *ngIf="horariosDisponibles[idx] && horariosDisponibles[idx].ocupado">No
                disponible</plex-badge>
            <plex-label size="lg" direction="column" type="info"
                        titulo="{{ horariosDisponibles[idx].hora }}:{{ (horariosDisponibles[idx].minutos < 10 ? '0' : '') + horariosDisponibles[idx].minutos }}hs">
            </plex-label>
        </plex-card>
    </div>
</plex-grid>