
            <plex-accordion>
                    <plex-panel tituloPrincipal="Nueva numeracion" icon="plus-circle-outline">
                            <div class="row">
                                    <div class="col-12 text-center">
                                                <div class="page-title">Nueva numeracion</div>
                                        </div>
                                </div>
<form #formNumeracion="ngForm">

                        <br>
                        <br>
                <div class="row">
                    <div class="col-md-6">                
                            <plex-select label="Profesión" [(ngModel)]="numeracionMatricula.profesion" name='profesion' (getData)="loadProfesiones($event)" [required]="true"></plex-select>                   
                    </div>
                    <div class="col-md-6">                
                            <plex-int label="numeracion de la matricula" [(ngModel)]="numeracionMatricula.proximoNumero"  name='proximoNumero' [required]="true"></plex-int>                
                    </div>
                </div>  
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <plex-button (click)="guardarNumeracion($event,formNumeracion)" label="Guardar" type="success float-right" validateForm="true"></plex-button>
                    </div>
                </div>
        
        </form>
        </plex-panel>
    </plex-accordion>