<plex-layout main="{{ showSidebar ? 8 : 12 }}" [resizable]="false">
  <plex-layout-main>
    <plex-title titulo="Administración de Supervisores"></plex-title>
    <plex-text [(ngModel)]="textoLibre" name='busqueda' (change)="loadUsuarios()" prefix="account-search"
               placeholder="Buscar por DNI, nombre o apellido" [debounce]="400">
    </plex-text>
    <div *ngIf="users && !users.length" class="alert alert-danger">
      <i class="mdi mdi-account-alert"></i> El usuario no se ha encontrado
    </div>
    <div *ngIf="users && users.length">
      <plex-table [columns]="columns" #table="plTable">
        <plex-table-columns>
        </plex-table-columns>
        <tr *ngFor="let user of users; let i=index" (click)="selectUser(user)" class="selectable">
          <td>
            <plex-label titulo="{{user.apellido}}"></plex-label>
          </td>
          <td>
            <plex-label titulo="{{user.nombre}}"></plex-label>
          </td>
          <td>
            <plex-label titulo="{{user.usuario}}"></plex-label>
          </td>
        </tr>
      </plex-table>
    </div>
    <div *ngIf="!users" justify="center" class="h-75">
      <plex-label titulo="Comience ingresando un DNI, nombre o apellido" direction="column" type="default" size="xl"
                  icon="arrow-up"></plex-label>
    </div>
  </plex-layout-main>

  <plex-layout-sidebar type="invert" *ngIf="showSidebar">
    <plex-title size="md" titulo="Detalle del supervisor">
      <plex-button class="mr-1" type="danger" icon="close" size="sm" tooltip="Cerrar" (click)="cerrar()"></plex-button>
    </plex-title>
    <plex-detail size="md" direction="row">
      <plex-icon name="credencial-usuario" type="info"></plex-icon>
      <div title>{{userSeleccionado.apellido+' '+userSeleccionado.nombre}}</div>
      <div subtitle>{{userSeleccionado.usuario}}</div>
    </plex-detail>
    <plex-bool type="slide" [(ngModel)]="esSupervisor" (change)='modificarPermiso()' name="especialidad"
               label="¿Es Supervisor?">
    </plex-bool>
    <div class="mt-3">
      <plex-title titulo="Firma" size="md">
        <input #uploadFirma hidden type="file" (change)="onImageChange($event)" accept="image/jpeg">
        <plex-button size="sm" icon="{{ urlFirmaAdmin ? 'pencil' : '' }}"
                     label="{{ urlFirmaAdmin ? '' : 'Agregar firma' }}"
                     type="{{ urlFirmaAdmin ? 'warning' : 'success'}}" [disabled]='disabledCargar'
                     (click)="uploadFirma.click()" tooltip="Editar firma">
        </plex-button>
        <plex-button *ngIf="base64textStringAdmin" size="sm" class="ml-1" icon="check" tooltip="Guardar" type="success"
                     [disabled]="!urlFirmaAdmin" (click)="guardarFirmaAdminGrid()">
        </plex-button>
      </plex-title>
      <img *ngIf='urlFirmaAdmin' [src]="urlFirmaAdmin" style="width: 300px" />
      <plex-label *ngIf="!urlFirmaAdmin" icon="informacion" type="warning" size="md" direction="row"
                  titulo="No hay ninguna firma aún" subtitulo="Para agregar una nueva, presione 'Agregar firma'">
      </plex-label>

      <plex-loader *ngIf="loading" type="ball-pulse"></plex-loader>
    </div>
  </plex-layout-sidebar>
</plex-layout>
