<plex-layout main="{{ mostrar ? 8 : 12 }}" resizable="true" min="4" max="4">
  <plex-layout-main>
    <plex-title titulo="Administración de Supervisores"></plex-title>
    <plex-text [(ngModel)]="textoLibre" name='busqueda' (change)="loadUsuarios()"
               placeholder="Buscar por DNI, nombre o apellido">
    </plex-text>
    <div *ngIf="users && !users.length" class="alert alert-danger">
      <i class="mdi mdi-account-alert"></i> El usuario no se ha encontrado
    </div>
    <div *ngIf="users && users.length">
      <plex-table [columns]="columns" #table="plTable">
        <plex-table-columns>
        </plex-table-columns>
        <tr *ngFor="let user of users; let i=index" (click)="selectUser(user)" class="selectable">
          <td>
            <plex-label icon="usuario-tilde" type="info" titulo="{{user.apellido}}"></plex-label>
          </td>
          <td>
            <plex-label titulo="{{user.nombre}}"></plex-label>
          </td>
          <td>
            <plex-label titulo="{{user.usuario}}"></plex-label>
          </td>
        </tr>
      </plex-table>
    </div>
    <div *ngIf="!mostrarMensaje" justify="center" class="h-75">
      <plex-label titulo="Comience ingresando un DNI, nombre o apellido" direction="column" subtitulo="" type="info"
                  size="xl" icon="arrow-up"></plex-label>
    </div>
  </plex-layout-main>
  <plex-layout-sidebar type="invert" *ngIf="mostrar">
    <plex-title size="md" titulo="Detalle del supervisor">
      <plex-button type="danger" icon="close" size="sm" tooltip="Cerrar" (click)="cerrar()"></plex-button>
    </plex-title>
    <plex-detail size="md" direction="row">
      <plex-icon name="credencial-usuario" type="info"></plex-icon>
      <div title>{{userSeleccionado.apellido+' '+userSeleccionado.nombre}}</div>
      <div subtitle>{{userSeleccionado.usuario}}</div>
    </plex-detail>
    <plex-bool type="slide" [(ngModel)]="esSupervisor" (change)='modificarPermiso()' name="especialidad"
               label="¿Es Supervisor?">
    </plex-bool>
    <br>
    <plex-title titulo="{{urlFirmaAdmin ? 'Firma' : 'Sin Firma'}}"></plex-title>
    <img *ngIf='urlFirmaAdmin' [src]="urlFirmaAdmin" style="width: 300px" />
    <div class="form-group">
      <div>
        <plex-label><b>Seleccione una foto: </b></plex-label>
        <br>
        <plex-loader *ngIf="loading" type="ball-pulse"></plex-loader>

        <input type="file" (change)="onImageChange($event)" accept="image/jpeg">
        <div>
          <br>
          <plex-button *ngIf='base64textStringAdmin' label="Guardar" type="success" (click)="guardarFirmaAdminGrid()">
          </plex-button>
        </div>
      </div>
    </div>
  </plex-layout-sidebar>
</plex-layout>