<plex-title titulo="Listado de posgrado" size="sm">
    <plex-button type="success" size="sm" (click)="cargarPosgrado()"> AGREGAR POSGRADO</plex-button>
</plex-title>

<div *ngIf="profesional.formacionPosgrado === null || profesional.formacionPosgrado.length < 1">
    <plex-badge type="warning">El profesional no posee un posgrado</plex-badge>
</div>
<div *ngIf="profesional.formacionPosgrado && profesional.formacionPosgrado.length">
    <plex-table [columns]="columns" #table="plTable">
        <plex-table-columns>
        </plex-table-columns>
        <tr *ngFor="let formacionPosgrado of profesional.formacionPosgrado; let i = index;" (click)="showPosgrado(i)"
            class="selectable">
            <td>
                <plex-label icon="estetoscopio" type="info" case="capitalize" size="lg"
                    titulo="{{ formacionPosgrado.especialidad?.nombre }}"
                    subtitulo="Profesión: {{formacionPosgrado.profesion?.nombre}}">
                </plex-label>
            </td>
            <td>
                <plex-label size="lg"
                    titulo="Nro. {{formacionPosgrado.matriculacion[formacionPosgrado.matriculacion.length - 1].matriculaNumero}}"
                    subtitulo="{{formacionPosgrado.institucionFormadora?.nombre}}">
                </plex-label>
            </td>
            <td>
                <plex-badge
                    *ngIf="formacionPosgrado.matriculacion[formacionPosgrado.matriculacion.length - 1]?.fechaAlta"
                    size="lg" type="info">
                    {{ formacionPosgrado.matriculacion[formacionPosgrado.matriculacion.length - 1].fechaAlta |
                    date:'dd/MM/yyyy' }}
                </plex-badge>
            </td>
            <td class="column-right my-3">
                <plex-badge *ngIf="verificarFecha(i) === 'vigente'" type="success">VIGENTE
                </plex-badge>

                <plex-badge *ngIf="verificarFecha(i) === 'vencida'" type="danger">VENCIDA
                </plex-badge>

                <plex-badge style="margin-right: 35px;" *ngIf="verificarFecha(i) === 'suspendida'" type="danger">
                    SUSPENDIDA
                </plex-badge>

                <plex-badge *ngIf="verificarFecha(i) === 'sinVencimiento'" type="warning">
                    SIN VENCIMIENTO
                </plex-badge>

                <plex-badge *ngIf="formacionPosgrado.notas?.length" class='ml-2' type="info" size="md">
                    <plex-icon name="documento" type="info" size="sm"></plex-icon>
                </plex-badge>

                <plex-dropdown *ngIf="profesional.formacionPosgrado[i].matriculado" #drop icon="dots-vertical" size="sm"
                    type="link" [right]="true" [items]="itemsDropdown" (onOpen)="setDropDown(i, drop)">
                </plex-dropdown>

            </td>
        </tr>
    </plex-table>
</div>