<plex-box type="invert">
    <plex-title titulo="Agregar posgrado" size="lg">
        <plex-button class='ml-2' size="sm" type="danger" label="Cancelar" (click)="volver()"></plex-button>
        <plex-button class='ml-2' size="sm" type="success" label="Guardar" (click)="onSubmit(formulario)"
            [disabled]="!formulario.valid"></plex-button>
    </plex-title>
    <form #formulario="ngForm">
        <plex-grid cols="2">
            <plex-select label="Profesión" [(ngModel)]="profesion" name="profesion" [data]="profesiones"
                [required]="true" [readonly]="!profesional.habilitado" placeholder="Seleccione una profesión">
            </plex-select>
            <plex-select label="Especialidad" [(ngModel)]="especialidad" name="especialidad"
                (getData)="loadEspecialidades($event)" [required]="true" [readonly]="!profesional.habilitado"
                placeholder="Seleccione una especialidad">
            </plex-select>
        </plex-grid>
        <plex-int label="Matrícula Nro" [(ngModel)]="matriculaNumero" name="matriculaNro" [required]="true"
            [readonly]="!profesional.habilitado" placeholder="Ingrese nro de matrícula">
        </plex-int>

        <plex-select label="Modalidad" [(ngModel)]="modalidad" name="modalidad" [required]="true"
            (getData)="loadModalidadesCertificacion($event)" [readonly]="!profesional.habilitado"
            placeholder="Seleccione una modalidad">
        </plex-select>
        <br>
        <plex-datetime type="date" label="Fecha de alta" [(ngModel)]="fechaAlta" name="fecha" [required]="true"
            [readonly]="!profesional.habilitado" placeholder="Ingrese la fecha de alta">
        </plex-datetime>
        <br>
        <plex-text label="Nota" [(ngModel)]="nota" name="notaText" grow="full" [required]="false" multiline="true">
        </plex-text>

    </form>

</plex-box>