<plex-box type="invert">
    <plex-title titulo="Editar posgrado" size="md">
        <plex-button class='ml-2' size="sm" type="danger" label="Cancelar" (click)="volver()"></plex-button>
        <plex-button class='ml-2' size="sm" type="success" label="Guardar" (click)="guardar(formulario)"
            [disabled]="!formulario.valid"></plex-button>
    </plex-title>

    <form #formulario='ngForm'>
        <plex-grid cols="2">
            <plex-select label="Profesión" [(ngModel)]="profesion" name="profesion" [required]="true"
                [data]="profesiones" [readonly]="!profesional.habilitado" placeholder="Seleccione una profesión">
            </plex-select>
            <plex-select label="Especialidad" [(ngModel)]="especialidad" name="especialidad"
                (getData)="loadEspecialidades($event)" [required]="true" [readonly]="!profesional.habilitado"
                placeholder="Seleccione una especialidad">
            </plex-select>
        </plex-grid>
        <plex-int label="Matrícula Nro" [(ngModel)]="matriculaNumero" name="matriculaNro" [required]="true"
            [readonly]="!profesional.habilitado" placeholder="Ingrese nro de matrícula">
        </plex-int>
        <plex-select label="Modalidad" [(ngModel)]="modalidad" name="modalidad" [required]="true"
            (getData)="loadModalidadesCertificacion($event)" [readonly]="!profesional.habilitado"
            placeholder="Seleccione una especialidad">
        </plex-select>
    </form>
    <br>

    <plex-title titulo="Notas" size="md">
        <plex-button *ngIf="profesional.formacionPosgrado[indice].notas?.length && !editarOagregar" class='ml-2'
            size="sm" type="warning" icon="pencil" tooltip="Editar" (click)="condicionNota()">
        </plex-button>
        <plex-button *ngIf="!profesional.formacionPosgrado[indice].notas?.length && !editarOagregar" class='ml-2'
            size="sm" type="success" label="Agregar nota" (click)="condicionNota()"></plex-button>
        <plex-button *ngIf="editarOagregar" class='ml-2' size="sm" type="danger" icon="close" tooltip="Cancelar"
            (click)="cerrarNota()">
        </plex-button>
        <plex-button *ngIf="editarOagregar" class='ml-2' size="sm" type="success" icon="check" tooltip="Guardar"
            (click)="guardarNota()">
        </plex-button>
    </plex-title>
    <plex-text *ngIf="existeNota" [(ngModel)]="nota" name="nota" [readonly]="!profesional.habilitado"
        placeholder="Ingrese una nota">
    </plex-text>
    <plex-label *ngIf="!existeNota && profesional.formacionPosgrado[indice].notas?.length">
        {{profesional.formacionPosgrado[indice].notas}}</plex-label>
</plex-box>