.badge-white {
    background: transparent;
    border: 1.5px solid;
     font-size: 1em; 
    font-weight: normal; 
    padding: 5px; 
     text-transform: uppercase; 
    border-color: #ffffff;
    color: #ffffff;
}


.fondoFechas{
    background-color: gray;
}

.colum-fechas{
    padding-right: 84px;
}

.colum-editar{
    // padding: 0 5px 0 0;
    // padding-left: 84px
    text-align: center;
}
