.badge-white {
    background: transparent;
    border: 1.5px solid;
     font-size: 1em; 
    font-weight: normal; 
    padding: 5px; 
     text-transform: uppercase; 
    border-color: #ffffff;
    color: #ffffff;
}


.fondoFechas{
    background-color: gray;
}