<plex-box type="invert">
    <header>
        <div class="row">
            <div class="col">
                <h3 class="float-left">{{formacion.profesion.nombre}} </h3>
                <div class="btn-group float-right">
                    <plex-button type="success" icon="credit-card" (click)="generarCredencial()"></plex-button>
                   <!-- <plex-tooltip text="Asignar número de matrícula" position="right">-->
                        <plex-button type="primary" icon="account-plus" (click)="matricularProfesional(formacion)"></plex-button>
                    <!--</plex-tooltip>-->
                    <plex-button type="danger" icon="account-minus" (click)="generarCredencial()"></plex-button>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-12">
            <div class="row" *ngIf="formacion.matriculacion.length > 0">
                <div class="col-12" >
                    <div class="form-group">
                        <label><strong>Matricula Nº</strong></label> 
                        <div>{{ formacion.matriculacion[formacion.matriculacion.length - 1].matriculaNumero }}</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label><strong>Título</strong></label> 
                        <div>{{ formacion.titulo }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label><strong>Entidad Formadora</strong></label> 
                        <div>{{ formacion.entidadFormadora.nombre }}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label><strong>Fecha Título</strong></label> 
                        <div>{{ formacion.fechaTitulo | date: 'dd/MM/yyyy'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            
            <plex-accordion style="color:black !important">
                <plex-panel tituloPrincipal="Renovaciones" [active]="false">
                    <div class="row">
                        <div class="col-12">
                            <table class="table">
                                <thead>
                                    <th>Nº</th>
                                    <th>Matrícula Nº</th>
                                    <th>Inicio</th>
                                    <th>Fin</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let matriculacion of formacion.matriculacion">
                                        <td>{{ matriculacion.revalidacionNumero }}</td>
                                        <td>{{ matriculacion.matriculaNumero }}</td>
                                        <td>{{ matriculacion.inicio | date: 'dd/MM/yyyy'}}</td>
                                        <td>{{ matriculacion.fin | date: 'dd/MM/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>              
                    
                </plex-panel>
            </plex-accordion>
        </div>
    </div>
</plex-box>