.badge-white {
    background: transparent;
    border: 1.5px solid;
     font-size: 1em; 
    font-weight: normal; 
    padding: 5px; 
     text-transform: uppercase; 
    border-color: #ffffff;
    color: #ffffff;
}


.centrarBtn{
    margin-top: 38px;
}

.btnGrado { margin-left: 5px }