<plex-title titulo="Documentos del profesional" size="md">
    <plex-button *ngIf="!addDocumento" label="Agregar documento" type="success" size="sm" (click)="agregarDocumento()">
    </plex-button>
    <plex-button *ngIf="addDocumento" type="danger" size="sm" icon="close" (click)="cerrar()" tooltip="Cerrar">
    </plex-button>
</plex-title>

<ng-container *ngIf="addDocumento">
    <plex-select [(ngModel)]="tipoDocumento" placeholder="Seleccione tipo de documento" labelField="label"
                 [data]="documentos">
    </plex-select>
    <div *ngIf="tipoDocumento">
        <upload-file label="Adjuntar Documento" [extensiones]="['pdf']" (onUpload)="onUpload($event)"
                     [modulo]="'matriculaciones'" disabled=true>
        </upload-file>
    </div>
</ng-container>

<ng-container *ngIf="!addDocumento">
    <plex-title titulo="Titulos de grado" size="sm"></plex-title>
    <plex-label *ngIf="!grado?.length">No se cargó ningún título de grado</plex-label>
    <div *ngFor="let doc of grado; let i=index" class="mb-2">
        <plex-list>
            <plex-item>
                <plex-label type="info" icon="documento" titulo="{{doc.nombreDocumento}}"
                            subtitulo="{{doc.fecha | fecha}}">
                </plex-label>
                <plex-button class="ml-2" type="success" size="sm" icon="download" tooltip="Descargar"
                             class='float-right' (click)="descargar(doc.fileId)">
                </plex-button>
                <plex-button class="ml-2" type="danger" size="sm" icon="cesto" tooltip="Eliminar" class='float-right'
                             (click)="eliminarDocumento(doc, i)">
                </plex-button>
            </plex-item>
        </plex-list>
    </div>

    <plex-title titulo="Titulos de posgrado" size="sm"></plex-title>
    <plex-label *ngIf="!posgrado?.length">No se cargó ningún título de posgrado</plex-label>
    <div *ngFor="let doc of posgrado; let i=index" class="mb-2">
        <plex-list>
            <plex-item>
                <plex-label type="info" icon="documento" titulo="{{doc.nombreDocumento}}"
                            subtitulo="{{doc.fecha | fecha}}">
                </plex-label>
                <plex-button class="ml-2" type="success" size="sm" icon="download" tooltip="Descargar"
                             class='float-right' (click)="descargar(doc.fileId)">
                </plex-button>
                <plex-button class="ml-2" type="danger" size="sm" icon="cesto" tooltip="Eliminar" class='float-right'
                             (click)="eliminarDocumento(doc, i)">
                </plex-button>
            </plex-item>
        </plex-list>
    </div>
    <plex-title titulo="Certificados" size="sm"></plex-title>
    <plex-label *ngIf="!certificado?.length">No se cargó ningún certificado</plex-label>
    <div *ngFor="let doc of certificado; let i=index">
        <plex-list>
            <plex-item>
                <plex-label type="info" icon="documento" titulo="{{doc.nombreDocumento}}"
                            subtitulo="{{doc.fecha | fecha}}">
                </plex-label>
                <plex-button class="ml-2" type="success" size="sm" icon="download" tooltip="Descargar"
                             class='float-right' (click)="descargar(doc.fileId)">
                </plex-button>
                <plex-button class="ml-2" type="danger" size="sm" icon="cesto" tooltip="Eliminar" class='float-right'
                             (click)="eliminarDocumento(doc, i)">
                </plex-button>
            </plex-item>
        </plex-list>
    </div>

    <plex-title titulo="Comprobantes de pago" size="sm"></plex-title>
    <plex-label *ngIf="!comprobante?.length">No se cargó ningún comprobante de pago</plex-label>
    <div *ngFor="let doc of comprobante; let i=index">
        <plex-list>
            <plex-item>
                <plex-label type="info" icon="documento" titulo="{{doc.nombreDocumento}}"
                            subtitulo="{{doc.fecha | fecha}}">
                </plex-label>
                <plex-button class="ml-2" type="success" size="sm" icon="download" tooltip="Descargar"
                             class='float-right' (click)="descargar(doc.fileId)">
                </plex-button>
            </plex-item>
        </plex-list>
    </div>

</ng-container>