<plex-box>
    <div class="row" *ngFor="let firma of profesional.firmas">
        <div class="col-6">
            <div class="form-group">
                <label style="font-weight: bold">Fecha</label>
                <div>
                    {{firma.fecha | date: 'dd/MM/yyyy'}}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label style="font-weight: bold">Firma</label>
                <div *ngIf="profesional.firmas">
                        <img  [src]="firma.imgArchivo" style="width: 300px"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
                <div class="form-group">                                
                        <div>
                            <div>
                                <label for="filePicker">Seleccione una foto:</label><br>
                                <input type="file" id="filePicker" (change)="handleFileSelect($event)">
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
                <br>      
                <plex-button label="Guardar" type="success" (click)="upload()" [disabled]='!binaryString' ></plex-button>
        </div>
    </div>
</plex-box>