<plex-title titulo="Dar turno" size="sm">
    <plex-badge type="info">21/01/2021</plex-badge>
    <plex-button class="ml-2" label="Confirmar turno" type="success" size="sm"></plex-button>
    <plex-button class="ml-2" title="Volver" icon="arrow-left" type="danger" size="sm"></plex-button>
</plex-title>

<plex-wrapper>
    <div class="row">
        <div class="col-md-6">
            <plex-text label="Nombre" [(ngModel)]="nombre" name="nombre" [required]="true">
            </plex-text>
        </div>
        <div class="col-md-6">
            <plex-text label="Apellido" [(ngModel)]="apellido" name="apellido" [required]="true"></plex-text>

        </div>
        <div class="col-md-9">
            <plex-int label="Nº de Documento" [(ngModel)]="documento" name="documento" [required]="true"></plex-int>

        </div>
        <div class="col-md-3">
            <label class="form-control-label">&nbsp;</label>
            <plex-button type="info" label=" Buscar" (click)="buscar($event,formNuevoProf)" validateForm="true">
            </plex-button>
        </div>
    </div>
    <!--     <div class="row">
        <div class="col">
            <fieldset>
                <ul class="list-group hover">
                    <div *ngIf="profEncontrado.length === 0 && noEncontrado" class="alert alert-warning mt-3">
                        <i class="mdi mdi-account-alert"></i> No hay resultados que coincidan con los datos ingresados
                    </div>

                    <li class="list-group-item mt-3" *ngFor="let prof of profEncontrado; let i = index;"
                        [ngClass]="{'active': isSelected()}" (click)="profesionalEncontrado(profEncontrado[i])">
                        <div *ngIf='profEncontrado.length > 0'> {{prof.select}}</div>
                    </li>
                    <li class="mt-3" justify="center">

                        <plex-button *ngIf='profElegido' type="success" size="md" label="Confirmar turno"
                                     (click)="onProfesionalCompleto($event)" class="pull-right" validateForm="true">
                        </plex-button>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div> -->
</plex-wrapper>

<plex-grid>
    <plex-list class="d-flex align-items-center flex-column">
        <plex-item>
            <plex-label titulo="PALAVECINO MARIANO ANDRES" subtitulo="DNI:35593546" size="md">
                <plex-icon name="medico" type="info" size="md"></plex-icon>
            </plex-label>
            <plex-badge size="md" type="warning">Renovacion</plex-badge>
        </plex-item>

        <plex-label titulo="Sin resultados"
                    subtitulo="Revisá que los datos ingresados sean correctos, si no estás registrado dirigete a 'Matricularme por primera vez' en la página de inicio"
                    type="warning" size="lg" icon="account-alert" direction="column">
        </plex-label>
        <plex-button label="Matricularme por primera vez" type="info" size="sm" direction="column"></plex-button>
    </plex-list>
</plex-grid>