<form class="plex-layout" #form="ngForm">
    <section>
        <plex-box>
            <br><br><br>
            <h1 class="display-4 margin-bottom text-center">Bienvenido a Matriculaciones de Salud</h1>
            <p class="lead text-center btnAcceso">
                <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/requisitosGenerales"><i class="mdi mdi-clipboard-text"></i>
                    Ingresar a requisitos generales</a>
            </p>
        </plex-box>
    </section>
</form>