<plex-layout>
  <plex-layout-main>
    <section justify="center" class="flex-column h-100">
      <div>
        <h1 class="text-center mb-4">Bienvenido a Matriculaciones de Salud</h1>
      </div>
      <div class="row text-center mt-4 w-100">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mt-2" *ngIf='permisosAgenda'>
          <div class="boton color-celeste p-2" routerLink="/agenda">
            <i class="icono mdi mdi-pencil-box-outline"></i>
            <h3 class="text-uppercase">Agenda</h3>
            <p class="text-uppercase">Configuración de agendas</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mt-2" *ngIf='permisosTurnos'>
          <div class="boton color-violeta p-2" routerLink="/turnos">
            <i class="icono mdi mdi-calendar"></i>
            <h3 class="text-uppercase">Turnos</h3>
            <p class="text-uppercase">Listado de próximos turnos</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mt-2" *ngIf='permisosProfesional'>
          <div class="boton color-amarillo p-2" routerLink="/listarProfesionales">
            <i class="icono mdi mdi-account-multiple"></i>
            <h3 class="text-uppercase">Profesionales</h3>
            <p class="text-uppercase">Gestión de profesionales</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 mt-2" *ngIf='permisosReportes'>
          <div class="boton color-rosa p-2" routerLink="/reportes">
            <i class="icono mdi mdi-file-chart"></i>
            <h3 class="text-uppercase">Reportes</h3>
            <p class="text-uppercase">Información de profesionales</p>
          </div>
        </div>
        <!-- <div class="col-4">
              <div class="boton color-rosa p-2" routerLink="/rup">
                  <i class="icono mdi mdi-contacts"></i>
                  <h3 class="text-uppercase">HUDS</h3>
                  <p class="text-uppercase">Historia Digital de Salud</div>
                  <div class="detalle">Registro universal de prestaciones de pacientes</div>
              </div>
          </div> -->
      </div>
      <div class="row" *ngIf='noTienePermisos'>
        <div class="col">
          <div class="boton color-amarillo p-2">
            <i class="icono mdi mdi-alert"></i>
            <h3 class="text-uppercase">ATENCIÓN</h3>
            <p class="text-uppercase">PERMISOS DE APLICACIONES</p>
            <div class="detalle">Ud. no posee permisos para Matriculaciones</div>
          </div>
        </div>
      </div>
    </section>
  </plex-layout-main>
</plex-layout>