<section>
    <plex-box>
        <br>
            <h1 class="display-4 margin-bottom text-center">Bienvenido <br> a <br>  Matriculaciones de Salud</h1>
            <br><br>
        <div class="text-center">
            <div class="logo"></div>
            <div class="row">
                <div  class="col-4">
                    <div class="boton color-celeste" routerLink="/agenda">
                        <i class="icono mdi mdi-pencil-box-outline"></i>
                        <div class="titulo">Agenda</div>
                        <div class="subtitulo">Configuración <br> de agendas</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="boton color-violeta" routerLink="/turnos">
                        <i class="icono mdi mdi-calendar"></i>
                        <div class="titulo">Turnos</div>
                        <div class="subtitulo">Listado de próximos<br> turnos</div>
                    </div>
                </div>
                <div  class="col-4">
                    <div class="boton color-amarillo" routerLink="/listarProfesionales">
                        <i class="icono mdi mdi-account-multiple"></i>
                        <div class="titulo">Profesionales</div>
                        <div class="subtitulo">Gestión de <br>  profesionales</div>
                    </div>
                </div>
                <!-- <div class="col-4">
                    <div class="boton color-rosa" routerLink="/rup">
                        <i class="icono mdi mdi-contacts"></i>
                        <div class="titulo">HUDS</div>
                        <div class="subtitulo">Historia Digital<br>de Salud</div>
                        <div class="detalle">Registro universal<br>de prestaciones de pacientes</div>
                    </div>
                </div> -->
            </div>
            <!-- <div class="row">
                <div class="col">
                    <div class="boton color-amarillo" >
                        <i class="icono mdi mdi-alert"></i>
                        <div class="titulo">ATENCIÓN</div>
                        <div class="subtitulo">PERMISOS DE APLICACIONES</div>
                        <div class="detalle">Ud. no posee permisos para ningún módulo de ANDES</div>
                    </div>
                </div>
            </div> -->
        </div>
        <br><br>
    </plex-box>
</section>