<plex-layout>
    <plex-layout-main>
        <form #form="ngForm">
            <header class="mb-3">
                <plex-title titulo="Seleccione una organización"></plex-title>
            </header>
            <ul class="list-group">
                <li class="list-group-item boton color-rosa" *ngFor="let _unaOrg of organizaciones">
                    <div class="row">
                        <div class="col-11">
                            <div (click)=seleccionar(_unaOrg)> {{_unaOrg.nombre}} </div>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </plex-layout-main>
</plex-layout>