<div class="row">
    <div class="col-sm-9">
        <plex-box>            
            <div class="row">
                <div class="col-sm-6">
                    <div style="display: inline-block;">
                        <img *ngIf="profesional.foto" src="http://localhost:3002/{{profesional.foto}}" class="img-circle">
                        <img *ngIf="!profesional.foto" src="http://localhost:3002/prof.png" class="img-circle">
                    </div>
                    <div style="padding-left: 10px; display: inline-block; vertical-align: middle">
                        <div class="nombre-profesional">                        
                            <span style="font-weight: bold">{{profesional.apellidos + ', '}}</span>{{profesional.nombres}}
                        </div>
                        <span class="datos-profesional">
                            {{profesional.edad + ' años'}} | {{'DNI ' + profesional.documentoNumero }} ({{profesional.cuitCuil}})<br />
                            {{profesional.fechaNacimiento | date: 'dd/MM/yyyy'}}
                        </span>
                    </div>
                </div>
                <div class="col-sm-3 border-left" style="text-align: center">
                    <span class="mdi mdi-big mdi-danger mdi-alert" *ngIf="profesional.renovacionVencida">
                        <span style="margin-left: 5px;">Renovación Vencida</span>
                    </span>
                </div>
                <div class="col-sm-3 border-left" style="font-size: 16px">
                    <div style="padding-top: 25px">
                    <div class="form-group" *ngIf="profesional.formacionProfesional.matriculaNumero && profesional.formacionProfesional.periodos">
                        <label>Matrícula Nº</label>
                        <span>{{ profesional.formacionProfesional.matriculaNumero }}</span>
                        <div class="datos-profesional">
                            {{ profesional.formacionProfesional.periodos[profesional.formacionProfesional.periodos.length - 1].inicio | date: 'dd/MM/yyyy'}} - {{profesional.formacionProfesional.periodos[profesional.formacionProfesional.periodos.length - 1].fin | date: 'dd/MM/yyyy'}}
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <hr style="margin-bottom: 10px; margin-top: 10px">
            <div class="row">
                <div class="col-sm-12">
                    <span class="info-subtitle">Profesión:</span>&nbsp;  {{profesional.formacionProfesional.profesion.nombre}}
                </div>
            </div>
        </plex-box>


        <plex-tabs>
            <plex-tab label="Contacto y Domicilios">
                <plex-box>
                    <div class="row">
                        <div *ngFor="let contacto of profesional.contactos" class="col-sm-4 border-left">
                            <div class="form-group">
                                <label>{{contacto.tipo}}</label>
                                <div>{{ contacto.valor }}</div>
                            </div>
                        </div>                        
                    </div>
                    <hr>
                        <div class="row" >
                            <div class="col-sm-4 border-left" *ngFor="let domicilio of profesional.domicilios; let idx = index">
                                <h4 class="info-subtitle ">Domicilio {{domicilio.tipo}}</h4>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Dirección</label>
                                            <div>{{ domicilio.valor }}</div>
                                        </div>
                                        <div class="form-group">
                                            <label>C.P.</label>
                                            <div>{{ domicilio.codigoPostal }}</div>
                                        </div>
                                        <div class="form-group">
                                            <label>Localidad</label>
                                            <div>{{ domicilio.ubicacion.localidad.nombre }}</div>
                                        </div>
                                        <div class="form-group">
                                            <label>Provincia</label>
                                            <div>{{ domicilio.ubicacion.provincia.nombre }}</div>
                                        </div>
                                        <div class="form-group">
                                            <label>País</label>
                                            <div>{{ domicilio.ubicacion.pais.nombre }}</div>
                                        </div>
                                    </div>
                                </div>                        
                            </div>
                        </div>
                </plex-box>
            </plex-tab>
            
            <plex-tab label="Formación Profesional">
                <plex-box>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Profesión</label>
                                <div>{{profesional.formacionProfesional.profesion.nombre}}</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Título</label>
                                <div>{{profesional.formacionProfesional.titulo}}</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Fecha de Egreso</label>
                                <div>{{profesional.formacionProfesional.fechaEgreso | date: 'dd/MM/yyyy'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Entidad Formadora</label>
                                <div>{{profesional.formacionProfesional.entidadFormadora.nombre}}</div>
                            </div>
                        </div>
                    </div>

                </plex-box>
            </plex-tab>
            <plex-tab label="Renovaciones">
                <plex-box>
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">Nº</th>
                                        <th style="text-align: center">Fecha de Inicio - Fecha de Fin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let periodo of profesional.formacionProfesional.periodos">
                                        <td style="text-align: center">{{periodo.numero}}</td>
                                        <td style="text-align: center">{{periodo.inicio | date: 'dd/MM/yyyy'}} - {{periodo.fin | date: 'dd/MM/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </plex-box>
            </plex-tab>
            <plex-tab label="Especialidades">
                <plex-box></plex-box>
            </plex-tab>
            <plex-tab label="Sanciones">
                <plex-box></plex-box>
            </plex-tab>
            <plex-tab label="Foto">
                <plex-box>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Foto Actual</label>
                                <div *ngIf="profesional.foto">
                                    <img src="http://localhost:3002/{{profesional.foto}}" style="width: 85px"/>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">                                
                                <div>
                                    <input type="file" name="file" ng2FileSelect [uploader]="uploader" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            
                            <plex-button label="Enviar" class="pull-right" (click)="enviarFoto()" [disabled]="!uploader?.queue?.length"></plex-button>
                        </div>
                    </div>
                </plex-box>
            </plex-tab>
            <plex-tab label="Firmas">
                <plex-box>
                    <div class="row" *ngFor="let firma of profesional.firmas">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Fecha</label>
                                <div>
                                    {{firma.fecha | date: 'dd/MM/yyyy'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Firma</label>
                                <div>
                                    <img src="http://localhost:3002/{{firma.archivo}}" style="width: 85px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">                                
                                <div>
                                    <input type="file" name="file" ng2FileSelect [uploader]="uploaderFirma" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <plex-button label="Enviar" class="pull-right" (click)="enviarFirma()" [disabled]="!uploaderFirma?.queue?.length"></plex-button>
                        </div>
                    </div>
                </plex-box>
            </plex-tab>
            <plex-tab label="Notas">
                <plex-box>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Notas</label>                                
                                <textarea class="form-control" [(ngModel)]="profesional.notas" style="width: 100%; height: 200px"></textarea>                                    
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <plex-button label="Guardar" class="pull-right" (click)="guardarNotas()"></plex-button>
                        </div>
                    </div>
                </plex-box>
            </plex-tab>
        </plex-tabs>
    
        <plex-button type="primary" class="pull-left" label="Volver al Listado" (click)="volverAlListado()"></plex-button>

    </div>

    <div class="col-sm-3">
        <plex-box>
            <div class="row">
                <div class="col-sm-12">
                    Se requiere la aprobación par que se le asigne un número de matrícula.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <plex-button label="Designar" type="danger" (click)="aprobarProfesional()" class="pull-right"></plex-button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    Imprmir un certificado de ética.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <plex-button label="Imprimir" type="primary" [disabled]="true" class="pull-right"></plex-button>                    
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    Anular matrícula.
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <plex-button label="Anular" type="danger" (click)="anularMatricula()" class="pull-right"></plex-button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    Generar Credencial
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <plex-button label="Generar" type="primary" (click)="generarCredencial()" class="pull-right" [disabled]="!profesional.foto || !profesional.formacionProfesional.matriculaNumero || !(profesional.firmas && profesional.firmas.length > 0)"></plex-button>
                </div>
            </div>
        </plex-box>
       
    </div>
</div>

