.btnFiltro{
    margin-top: 42px;
    margin-bottom: 4px;
    padding: 4px 11px;
}

.btnSlide{
    margin-top: 1%;
}

.badgeP {
    display: inline-block;
    line-height: 1;
    color: #fff;
    text-align: center;
    /* white-space: nowrap; */
    vertical-align: baseline;
    border-radius: 0;
    margin-left: 4px;
    margin-bottom: 3px;
}


.btnAgregar{
    margin-left:2px;
}

.btnSobreT {
    right: 6px;
}