<plex-title titulo="Dar turno" size="sm">
    <plex-badge type="info">{{fecha | date: 'dd/MM/yyyy'}}</plex-badge>
    <plex-button class="ml-2" label="Continuar" type="success" size="sm"></plex-button>
    <plex-button class="ml-2" title="Volver" icon="arrow-left" type="danger" size="sm"
                 routerLink="/requisitosGenerales"></plex-button>
</plex-title>
<div class="h-75" justify="center">
    <plex-label titulo="Comienza seleccionando un día del calendario"
                subtitulo="De éste modo, podrás visualizar los horarios disponibles" type="default" size="lg"
                icon="calendar" direction="column">
    </plex-label>
</div>