<div *ngFor="let domicilio of profesional.domicilios;" class="mt-3">
  <plex-title titulo="Domicilio {{domicilio.tipo}}" size="sm">
  </plex-title>
  <div class="row">
    <div class="col-4">
      <label>Dirección</label>
      <div>{{ domicilio?.valor }}</div>
    </div>
    <div class="col-4">
      <label>C.P.</label>
      <div>{{ domicilio?.codigoPostal }}</div>
    </div>
    <div class="col-4">
      <label>Localidad</label>
      <div>{{ domicilio.ubicacion?.localidad?.nombre }}</div>
    </div>
  </div>
  <div class="row">

    <div class="col-4">
      <label>Provincia</label>
      <div>{{ domicilio.ubicacion?.provincia?.nombre }}</div>
    </div>
    <div class="col-4">
      <label>País</label>
      <div>{{ domicilio.ubicacion?.pais?.nombre }}</div>
    </div>
  </div>
</div>
<br>
<plex-title titulo="Contactos" size="sm" class="mt-3">
</plex-title>
<div class="row">
  <div class="col-md-4" *ngFor="let contacto of profesional.contactos; let i = index">
    <label>{{ contacto.tipo}}</label>
    <div>{{ contacto.valor }}</div>
  </div>
</div>
