<plex-accordion>
  <plex-panel tituloPrincipal="Nueva Sanción" icon="plus-circle-outline" [active]="activeAcc">
    <form #formSanciones='ngForm'>
      <div class="row">
        <div class="col-md-2">
          <plex-int label="Número" [(ngModel)]="sanciones.numero" name='numero' [required]="true" [readonly]="!profesional.habilitado"></plex-int>
        </div>
        <div class="col-md-3">
          <plex-select label="Sanción" [(ngModel)]="sanciones.sancion" name='sancion' [data]="sancionesTipo" [required]="true" [readonly]="!profesional.habilitado"></plex-select>
        </div>
        <div class="col-md-3">
          <plex-text label="Norma Legal" [(ngModel)]="sanciones.normaLegal" name='normaLegal' [required]="true" [readonly]="!profesional.habilitado"></plex-text>
        </div>
        <div class="col-md-4">
          <plex-datetime type="date" label="Fecha" [(ngModel)]="sanciones.fecha" name='fecha' [required]="true" [readonly]="!profesional.habilitado"></plex-datetime>
        </div>
      </div>
      <div class="row">

        <div class="col-md-4">
          <plex-datetime type="date" label="Vencimiento" [(ngModel)]="sanciones.vencimiento" name='vencimiento' [required]="true" [readonly]="!profesional.habilitado"></plex-datetime>
        </div>
        <div class="col-6">
          <plex-text label="Motivo" [(ngModel)]="sanciones.motivo" name='motivo' [required]="true" [readonly]="!profesional.habilitado"></plex-text>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <plex-button *ngIf="profesional.habilitado" label="Guardar" type="success" class="float-right" (click)="onSave($event,formSanciones)" validateForm="true"></plex-button>
          <plex-button *ngIf="!profesional.habilitado" disabled="true" label="Guardar" type="success" class="float-right" (click)="onSave($event,formSanciones)" validateForm="true"></plex-button>
        </div>
      </div>
    </form>
  </plex-panel>
</plex-accordion>
