<plex-layout>
  <plex-layout-main>
    <header justify>
      <plex-title titulo="Requisitos para Matriculación de Profesionales Universitarios" size="md"></plex-title>
      <plex-button label="Volver" type="danger" position="left" routerLink="/requisitosGenerales"></plex-button>
    </header>
    <fieldset>
      <div class="row text-justify p-1">
        <div class="col-md">
          <ul class="requisitos-check">
            <li>
              <b>a)</b> Presentación de la "Planilla de Turno Otorgado", con los datos pre-incorporados por el usuario
              de conformidad a lo establecido sobre el particular, la que deberá ser firmada por el peticionante delante
              del agente matriculador a modo de Declaración Jurada.
            </li>
            <li>
              <b>b)</b> Acreditación de Identidad presentando el original del Documento Nacional de Identidad, Libreta
              de Enrolamiento o Libreta Cívica. Sólo en casos de excepción fundada será aceptada la acreditación de
              identidad por medio de la Cédula de Identidad, en vigencia y expedida conforme la normativa MERCOSUR.
            </li>
            <li>
              <b>c)</b> Fotocopia del Documento Nacional de Identidad, Libreta de Enrolamiento o Libreta Cívica, 1 y 2
              hojas, la correspondiente al último cambio de domicilio y la correspondiente a la fecha del vencimiento
              del mismo, en caso de no contar con Residencia Permanente. Si excepcionalmente se aceptare la presentación
              de la Cédula de Identidad MERCOSUR, deberá presentar fotocopia de ambas caras de la misma, acompañando
              fotocopia del Certificado o Denuncia Policial o Exposición Civil de pérdida o sustracción del Documento
              Nacional de Identidad.
            </li>
            <li>
              <b>d)</b> Original del Título/Diploma Universitario, previa y debidamente legalizado por la DIRECCION DE
              GESTION UNIVERSITARIA del MINISTERIO DE EDUCACION DE LA NACION, Av. Santa Fe 1549 Piso 12º de la Ciudad de
              Buenos Aires, y posteriormente por el MINISTERIO DEL INTERIOR, sito en la calle 25 de Mayo N° 179 Planta
              Baja de la Ciudad de Buenos Aires,para los titulos emitidos con anterioridad al año 2012.
            </li>
            <li>
              <b>e)</b> Fotocopia doble faz en tamaño A4 del Título/Diploma de egreso debidamente certificado ante
              escribano público,juez de paz o la entidad formadora.
            </li>
            <li>
              <b>f)</b> Fotocopia de constancia de número de CUIT o CUIL,en los casos que los nuevos documentos no lo
              tenga.
            </li>
            <li>
              <b>g)</b> Quienes cuenten con matrículas otorgadas por otras jurisdicciones del país, deberán presentar
              Certificado de Ética Profesional actualizado y extendido por Autoridad Sanitaria o Colegios Profesionales
              de dichas jurisdicciones (de todas en las que se encuentre registrado), o en su defecto podrá presentarse
              la norma legal de baja de dichas matrículas.
            </li>
            <li>
              <b>h)</b> Declaración de Domicilio Real, no pudiendo establecerse en dependencias públicas o privadas
              donde realiza su actividad.
            </li>
            <li>
              <b>i)</b> Además de cumplimentar el punto h), el profesional deberá constituir Domicilio Legal o
              Profesional, al solo efecto de cursar en éste las notificaciones que pudieren corresponder.
            </li>
            <li>
              <b>j)</b> Declaración del número de teléfono de línea.
            </li>
            <li>
              <b>k)</b> Declaración del número de teléfono celular.
            </li>
            <li>
              <b>l)</b> Dirección de correo electrónico.
            </li>
            <li>
              <b>m)</b> Abonar el arancel establecido para el trámite de matriculación de grado universitario,siendo a
              la fecha de $600,00
            </li>
          </ul>
          <p class="mt-3">
            <i>Nota: Los datos requeridos en los puntos h), i), j), k) y l) serán consignados en la “planilla de turno
              otorgado”, la que al ser firmada en presencia del agente matriculador adquiere la característica de
              Declaración Jurada; por tal motivo no es necesaria la presentación de ninguna otra documentación
              relacionada con los mencionados ítems.</i>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md text-center">
          <plex-bool [(ngModel)]="terminosLeidos" label="He leído y acepto los requisitos" name="terminosLeidos">
          </plex-bool><br />
        </div>
      </div>
      <div class="row">
        <div class="col-md text-center p-3">
          <plex-button label="Solicitar Turno" type="primary" [disabled]="!terminosLeidos" (click)="onClick()">
          </plex-button>
        </div>
      </div>
    </fieldset>
  </plex-layout-main>
</plex-layout>