<plex-layout>
  <plex-layout-main>
    <header justify>
      <plex-title titulo="Requisitos generales" size="md"></plex-title>
      <plex-button label="Volver" type="danger" routerLink="/homeProfesionales"></plex-button>
    </header>
    <!-- <h3>Introducción y requisitos de cada caso para nuevo sistema. Cómo obtener un turno.</h3> -->
    <p>
      Desde el 1° de Julio de 2010 rige el sistema de matriculación para Todos los profesionales de la Salud de la
      Provincia del Neuquén.
      <a class="text-primary" href="http://www.saludneuquen.gov.ar/images/Fiscalizacion/resolucion_796.pdf">El mismo ha
        sido aprobado por Resolución N° 796/10 del Ministerio de Salud.</a>
    </p>
    <b class="text-warning">La matriculación es un acto obligatorio previo al ejercicio profesional.</b>
    <hr>
    <plex-accordion>
      <plex-panel tituloPrincipal="Información adicional" icon="information">
        <p>
          La matriculación es el acto por el cual la autoridad sanitaria otorga la autorización para el ejercicio
          profesional.<br>
          La ley Provincial Nº 578 sobre el ejercicio de la <i>Medicina, Odontología y Actividades de Colaboración</i>,
          establece en su <b>Artículo 5º:</b>
          <br>
          <i>"Para ejercer las profesiones o actividades que se reglamentan en la presente Ley, las personas
            comprendidas en la misma deberán inscribir previamente sus títulos o certificados habilitantes en la
            Subsecretaría de Salud, la que autorizará el ejercicio profesional otorgando la matrícula y extendiendo la
            correspondiente credencial"...."La matriculación es el acto por el cual la autoridad sanitaria otorga la
            autorización para el ejercicio profesional".</i>
          <br>
        </p>
        <p class="text-danger">
          Los profesionales cuya documentación no se ajuste estrictamente a la reglamentación vigente no serán
          matriculados, por lo que no podrán ejercer en el ámbito provincial.
        </p>
        <b>Se hace hincapié en la presentación de los diplomas originales, con los sellos correspondientes</b>.
      </plex-panel>
      <plex-panel tituloPrincipal="Profesiones comprendidas" icon="estudiante">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12">
            <ul>
              <li class="list-item-custom">Médicos</li>
              <li>Farmacéuticos</li>
              <li>Bioquímicos</li>
              <li>Odontólogos</li>
              <li>Licenciados en Enfermería</li>
              <li>Nutricionistas</li>
              <li>Fonoaudiólogos</li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <ul>
              <li>Kinesiólogos</li>
              <li>Musicoterapeutas</li>
              <li>Obstétricos</li>
              <li>Psicopedagogos</li>
              <li>Terapistas</li>
              <li>Ocupacionales</li>
              <li>Enfermeros</li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <ul>
              <li>Instrumentadores Quirúrgicos</li>
              <li>Podólogos</li>
              <li>Técnicos en Citología</li>
              <li>Técnicos en Hemoterapia</li>
              <li>Técnicos de Laboratorio</li>
              <li>Técnicos en Radiología</li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
            <ul>
              <li>Técnicos Ópticos</li>
              <li>Técnicos en Prótesis y Ortesis</li>
              <li>Mecánicos Dentales</li>
              <li>Agentes de Propaganda Médica</li>
              <li>Auxiliares de Enfermería</li>
              <li>Auxiliares de Anestesia</li>
            </ul>
          </div>
        </div>
      </plex-panel>
    </plex-accordion>
    <section justify="center" class="flex-column h-25">
      <plex-button type="success" size="md" routerLink="/solicitarTurnoRenovacion">Solicitar turno para
        renovación</plex-button>
      <plex-dropdown label="Matricularme por primera vez" type="primary" class="mt-2" [items]="items"></plex-dropdown>
    </section>
  </plex-layout-main>
</plex-layout>