<section>
    <plex-box>
        <div class="row">
            <div class="col-sm-12">
                <h3>Introducción y requisitos de cada caso para nuevo sistema. Como obtener un turno.</h3>
                <p>
                    Desde el 1° de Julio de 2010 rige el Nuevo sistema de matriculación para Todos los profesionales de la Salud de la Pcia de Neuquén.<br />
                    <a href="http://www.saludneuquen.gov.ar/images/Fiscalizacion/resolucion_796.pdf">El mismo ha sido aprobado por Resolución N° 796/10 del Ministerio de Salud.</a>
                </p>
                <ul class="requisitos-warn">
                    <li>La matriculación es un acto obligatorio previo al ejercicio profesional.</li>
                </ul>
                <h4><i class="glyphicon glyphicon-info-sign"></i> Información adicional</h4>
                <p>La matriculación es el acto por el cual la autoridad sanitaria otorga la autorización para el ejercicio profesional.</p>
                <p>La ley Provincial Nº 578 sobre el ejercicio de la Medicina, Odontología y Actividades de Colaboración, establece en su Artículo 5º: "Para ejercer las profesiones o actividades que se reglamentan en la presente Ley, las personas comprendidas en la misma deberán inscribir previamente sus títulos o certificados habilitantes en la Subsecretaria de Salud, la que autorizará el ejercicio profesional otorgando la matrícula y extendiendo la correspondiente credencial" ...."La matriculación es el acto por el cual la autoridad sanitaria otorga la autorización para el ejercicio profesional".</p>
                <p>Los profesionales cuya documentación no se ajuste estrictamente a la reglamentación vigente no serán matriculados, por lo que no podrán ejercer en el ámbito provincial.</p>
                <p>Se hace hincapié en la presentación de los diplomas originales, con los sellos correspondientes.</p>
                <h4>Profesiones comprendidas:</h4>
                <p>Médicos, Farmacéuticos, Bioquímicos, Odontólogos, Licenciados en Enfermería, Nutricionistas, Fonoaudiólogos, Kinesiólogos, Musicoterapeutas, Obstétricos, Psicopedagogos, Terapistas Ocupacionales; Enfermeros, Instrumentadores Quirúrgicos, Podólogos, Técnicos en Citología, Técnicos en Hemoterapia, Técnicos de Laboratorio, Técnicos en Radiología, Técnicos Ópticos, Técnicos en Prótesis y Ortesis, Mecánicos Dentales; Agentes de Propaganda Medica, Auxiliares de Enfermería, Auxiliares de Anestesia.</p>

                <h4>Para continuar con su solicitud de turno, seleccione la opción correspondiente a su caso</h4>
                <ul class="requisitos-check">
                    <li><a routerLink="/requisitosMatriculaUniversitaria">Requisitos matrícula universitaria</a></li>
                    <li><a routerLink="/requisitosMatriculaTecnicaAuxiliar">Requisitos matrícula técnica o Auxiliar</a></li>
                    <li><a routerLink="/solicitarTurnoRenovacion">Renovacion</a></li>
                </ul>
            </div>
        </div>
    </plex-box>
</section>


<footer>
        <plex-button label="Volver" type="danger" routerLink="/homeProfesionales"></plex-button> 
    </footer> 