<plex-layout>
    <plex-layout-main>
        <header justify>
            <plex-title titulo="Requisitos para Matriculación de Profesionales Técnicos y Auxiliares"
                        size="md"></plex-title>
            <plex-button label="Volver" type="danger" position="left" routerLink="/requisitosGenerales"></plex-button>
        </header>
        <fieldset>
            <div class="row text-justify p-1">
                <div class="col-md">
                    <ul class="requisitos-check">
                        <li>
                            <b>a)</b>
                            <div>
                                Presentación de la "Planilla de Turno Otorgado", con los datos pre-incorporados
                                por el usuario delante del agente matriculador a modo de Declaración Jurada.
                            </div>
                        </li>
                        <li>
                            <b>b)</b>
                            <div>
                                Acreditación de Identidad presentando el original del Documento Nacional de
                                Identidad.
                            </div>
                        </li>
                        <li>
                            <b>c)</b>
                            <div>
                                Fotocopia del Documento Nacional de Identidad.
                            </div>
                        </li>
                        <li>
                            <b>d)</b>
                            <div>
                                Original del Título/Diploma de Técnico o Auxiliar, previa y debidamente legalizado
                                por MINISTERIO DE EDUCACIÓN de la Jurisdicción que lo expidió y legalizado por el
                                MINISTERIO
                                DEL INTERIOR para los títulos emitidos con anterioridad al año 2012.
                                <br>
                                Para TÍTULOS DIGITALES deberá enviar en el momento del turno el documento descargado
                                desde
                                la página oficial o aplicación de la Universidad y/o Instituto Superior al correo que se
                                le
                                proporcionará en ese momento.
                            </div>
                        </li>
                        <li>
                            <b>e)</b>
                            <div>
                                Fotocopia doble faz en tamaño A4 del Título/Diploma de egreso debidamente
                                certificado ante escribano público, juez de paz o la entidad formadora.<b> &nbsp; (NO
                                    APLICA
                                    PARA
                                    TÍTULOS EMITIDOS DIGITALMENTE)</b>
                            </div>
                        </li>
                        <li>
                            <b>f)</b>
                            <div>
                                Fotocopia de constancia de número de CUIT o CUIL, si no figurara en el DNI.
                            </div>
                        </li>
                        <li>
                            <b>g)</b>
                            <div>
                                CERTIFICADO DE ÉTICA PROFESIONAL actualizado y extendido por Autoridad Sanitaria o
                                Colegio Profesional de todas las jurisdicciones en las que se encuentre matriculado, o
                                en su
                                defecto podrá presentarse la norma legal de baja de dichas matrículas.
                            </div>
                        </li>
                        <li>
                            <b>h)</b>
                            <div>
                                Los AGENTES DE PROPAGANDA MÉDICA (APM) además deberán presentar una declaración
                                jurada ante escribano público, dejando constancia de no estar inhibido para ejercer el
                                comercio.
                            </div>
                        </li>
                        <li>
                            <b>i)</b>
                            <div>
                                Tramite arancelado.
                            </div>
                        </li>
                    </ul>
                    <p>
                        <plex-label titulo="ADVERTENCIA, SE SOLICITA QUE CUMPLAN CON TODOS LOS REQUISITOS, EN ESPECIAL LOS CERTIFICADOS DE ÉTICA DE
            TODAS LAS MATRÍCULAS QUE CUENTEN. CASO CONTRARIO, NO SE PROCEDERÁ A LA MATRICULACIÓN." type="default"
                                    size="lg" icon="informacion"></plex-label>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md text-center">
                    <plex-bool [(ngModel)]="terminosLeidos" label="He leído y acepto los requisitos"
                               name="terminosLeidos">
                    </plex-bool><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md text-center p-3">
                    <plex-button label="Solicitar Turno" type="primary" [disabled]="!terminosLeidos"
                                 (click)="onClick()">
                    </plex-button>
                </div>
            </div>
        </fieldset>
    </plex-layout-main>
</plex-layout>