<plex-layout>
    <plex-layout-main>
        <header justify>
            <plex-title titulo="Solicitud de eliminación de datos sumistrados desde la app móvil ANDES"
                        size="md"></plex-title>
        </header>
        <div class="row text-justify p-1">
            <div class="col-md-10">
                <p>
                    <plex-label titulo="Si usted desea que se de de baja los datos personales recolectados a través de la aplicación móvil ANDES debe enviar correo electrónico a la cuenta info@andes.gob.ar, con la información detallada a continuación:"
                                type="default" size="lg" icon="informacion"></plex-label>
                </p>
                <ul class="requisitos-check">
                    <li>Número de DNI</li>
                    <li>Sexo (como figura el en DNI)</li>
                    <li>Apellido/s</li>
                    <li>Nombre/s</li>
                    <li>Fecha de Nacimiento</li>
                    <li>Número de matrícula (en caso de ser personal matriculado)</li>
                    <li>Correo electrónico</li>
                </ul>
            </div>
        </div>

    </plex-layout-main>
</plex-layout>