<section>
    <div class="row">
        <div class="col-12">
            <plex-box type="primary">
                <form #cambioDni1='ngForm'>
                    <fieldset>
                        <legend>Solicitud de cambio de DNI</legend>
                        <div class="col-md-12">
                            <!-- contacto -->
                            <div class="row">
                                <div class="col-md-3">
                                    <plex-text label="apellido" [(ngModel)]="apellido" name="apellido" [required]="true"></plex-text>
                                </div>
                                <div class="col-md-3">
                                    <plex-text label="Nombre" [(ngModel)]="nombre" name="nombre" [required]="true"></plex-text>
                                </div>
                                <div class="col-md-3">
                                    <plex-text label="DNI" [(ngModel)]="dniActual" name="dni" [required]="true"></plex-text>
                                </div>
                                <div class="col-md-3">
                                    <br>
                                    <br>
                                    <plex-button type="success" label="Buscar" (click)="buscar($event,cambioDni1)" class="pull-right" validateForm="true"></plex-button>
                                </div>
                                <!-- <div class="col-md-4">
                                    <plex-select label="Sexo" [(ngModel)]="cambioDNI.sexo" name="sexo" [data]="sexos" [required]="true"></plex-select>
                                </div> -->
                                <!-- <div class="col-md-4">
                                    <plex-select label="Nacionalidad" [(ngModel)]="nacionalidad" name="nacionalidad" (getData)="loadPaises($event)" [required]="true"></plex-select>
                                </div> -->

                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    Seleccione sus datos
                                    <ul class="list-group hover">
                                        <li *ngIf="profEncontrado !== null && profEncontrado.length === 0" class="alert alert-danger">
                                            <i class="mdi mdi-account-alert"></i> No se encontró ningún profesional
                                        </li>
                                        <li class="list-group-item" *ngFor="let prof of profEncontrado; let i = index;" [ngClass]="{'active': isSelected()}" (click)="profesionalEncontrado(profEncontrado[i])">
                                            <div *ngIf='profEncontrado !== undefined'> {{prof.select}}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <br>
                            <hr>

                        </div>
                    </fieldset>


                </form>
                <form #cambioDni2='ngForm'>
                    <div class="row">
                        <div class="col-md-5">
                            <plex-text label="DNI Actual" [(ngModel)]="cambioDNI.dniActual" disabled="true" name="dniActual" (change)='buscar()' [required]="false"></plex-text>
                        </div>
                        <!-- <div class="col-md-2 text-center">
                            <span class="mdi mdi-arrow-right-bold-box-outline text-info" style='font-size:50px; position:absolute; top: 28.2%; right: 37.73%;'></span>
                        </div> -->
                        <div class="col-md-5">
                            <plex-text label="DNI Nuevo" [(ngModel)]="cambioDNI.dniNuevo" name="dniNuevo" [required]="true"></plex-text>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <plex-button type="success" label="Confirmar Datos" (click)="save($event,cambioDni2)" class="pull-right" validateForm="true"></plex-button>
                        </div>
                    </div>
                </form>
            </plex-box>
        </div>
    </div>
</section>

<footer>
    <plex-button label="Volver" type="danger" routerLink="/requisitosGenerales"></plex-button>
</footer>