<form class="plex-layout">
  <section>
    <div class="row">
      <div class="col h-100">
        <plex-box>
          <header>
            <div class="clearfix">
              <div class="page-title float-left">Reportes</div>
            </div>
            <!-- Filtros -->
            <div class="row">
              <div class="col-md-4">
                <plex-datetime *ngIf="busquedaMatriculasProxAVencer" type="date" [(ngModel)]="fechaMatriculacionDesde" name="fechaMatriculacionDesde" label="Fecha Vencimiento Matrícula Desde">
                </plex-datetime>
                <plex-datetime *ngIf="!busquedaMatriculasProxAVencer" type="date" [(ngModel)]="fechaMatriculacionDesde" name="fechaMatriculacionDesde" label="Fecha Matriculación Desde">
                </plex-datetime>
              </div>
              <div class="col-md-4">
                <plex-datetime *ngIf="busquedaMatriculasProxAVencer" type="date" [(ngModel)]="fechaMatriculacionHasta" name="fechaMatriculacionHasta" label="Fecha Vencimiento Matrícula Hasta">
                </plex-datetime>
                <plex-datetime *ngIf="!busquedaMatriculasProxAVencer" type="date" [(ngModel)]="fechaMatriculacionHasta" name="fechaMatriculacionHasta" label="Fecha Matriculación Hasta">
                </plex-datetime>
              </div>
              <div class="col-md-3 mt-4">
                <plex-bool type="slide" [(ngModel)]="busquedaMatriculasProxAVencer" name="busquedaMatriculasProxAVencer" label="Buscar Matrículas Próximas a Vencer">
                </plex-bool>
              </div>
              <div class="col-md-1 text-right">
                <label>&nbsp;</label>
                <plex-button type="default" [icon]="mostrarMasOpciones ? 'chevron-up' : 'chevron-down'" (click)="mostrarMasOpciones = !mostrarMasOpciones"></plex-button>
              </div>
            </div>
            <div class="row" *ngIf="mostrarMasOpciones">
              <div class="col-md-4">
                <plex-select [(ngModel)]="profesion" name="profesion" label="Profesión" [data]="profesiones">
                </plex-select>
              </div>
              <div class="col-md-4">
                <plex-select [(ngModel)]="especialidad" name="especialidad" label="Especialidad" [data]="profesiones">
                </plex-select>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col">
                    <plex-bool type="slide" [(ngModel)]="matriculasBaja" name="matriculasBaja" label="Matrículas dadas de baja">
                    </plex-bool>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <plex-bool type="slide" [(ngModel)]="matriculasVencidas" name="matriculasVencidas" label="Matrículas Vencidas">
                    </plex-bool>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <!-- Resultados -->
          <div class="row">
            <div class="col">
              <plex-loader *ngIf="loader" type="ball-beat"></plex-loader>
              <div *ngIf="!profesionales?.length && !loader" class="alert alert-default">
                <i class="mdi mdi-emoticon-sad"></i> No hay resultados que coincidan con los filtros de búsqueda
              </div>
              <table *ngIf="profesionales?.length" class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Documento</th>
                    <th>Apellido y Nombre</th>
                    <th>Fecha de Nacimiento</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="hover" *ngFor="let profesional of profesionales">
                    <td>
                      {{ profesional.documento }}
                    </td>
                    <td>
                      {{ profesional | profesional }}
                    </td>
                    <td>
                      <span *ngIf="profesional.fechaNacimiento">
                        {{profesional.fechaNacimiento | fecha}}
                        <br> {{profesional | edad}}
                      </span>
                      <span *ngIf="!profesional.fechaNacimiento" class="text-danger">
                        Sin fecha de nacimiento
                      </span>
                    </td>
                    <td>
                      <div *ngIf='profesional.habilitado'>
                        <div *ngIf='!matriculasBaja'>
                          <div *ngFor="let profesionalGrado of profesional.formacionGrado" class="text-danger">
                            <span *ngIf="profesionalGrado.matriculado === true  && profesionalGrado.matriculacion !== null  && !profesionalGrado.matriculacion[profesionalGrado.matriculacion.length - 1].baja.motivo  " class="badge badge-info">
                              {{profesionalGrado.profesion.nombre}}: Matrícula n°
                              {{profesionalGrado.matriculacion[profesionalGrado.matriculacion.length -
                                    1].matriculaNumero}}
                            </span>
                            <span *ngIf="profesionalGrado.matriculado === false  && profesionalGrado.matriculacion !== null  && !profesionalGrado.matriculacion[profesionalGrado.matriculacion.length - 1].baja.motivo  " class="badge badge-danger">
                              {{profesionalGrado.profesion.nombre}}: Matrícula n°
                              {{profesionalGrado.matriculacion[profesionalGrado.matriculacion.length -
                                    1].matriculaNumero}} vencida
                            </span>
                            <span *ngIf="profesionalGrado.matriculado === false && profesionalGrado.matriculacion !== null  && profesionalGrado.matriculacion[profesionalGrado.matriculacion.length - 1].baja.motivo" class="badge badge-danger">
                              {{profesionalGrado.profesion.nombre}}: Matrícula n°
                              {{profesionalGrado.matriculacion[profesionalGrado.matriculacion.length -
                                    1].matriculaNumero}} suspendida
                            </span>
                          </div>
                          <div *ngFor="let profesionalPosgrado of profesional.formacionPosgrado" class="text-danger">
                            <span *ngIf="profesionalPosgrado.matriculado === true && profesionalPosgrado.matriculacion.length > 0 && profesionalPosgrado.especialidad.nombre !== null && hoy <= profesionalPosgrado.matriculacion[profesionalPosgrado.matriculacion.length - 1].fin " class="badge-primary">
                              {{profesionalPosgrado.especialidad.nombre}}: Matrícula n°
                              {{profesionalPosgrado.matriculacion[profesionalPosgrado.matriculacion.length -
                                    1].matriculaNumero}}
                            </span>
                            <span *ngIf="profesionalPosgrado.matriculado === false && profesionalPosgrado.matriculacion.length > 0 && profesionalPosgrado.especialidad.nombre !== null && hoy <= profesionalPosgrado.matriculacion[profesionalPosgrado.matriculacion.length - 1].fin " class="badge badge-warning">
                              {{profesionalPosgrado.especialidad.nombre}}: Matrícula n°
                              {{profesionalPosgrado.matriculacion[profesionalPosgrado.matriculacion.length -
                                    1].matriculaNumero}} suspendida
                            </span>
                            <span *ngIf="profesionalPosgrado.matriculado === false && profesionalPosgrado.matriculacion.length > 0 && profesionalPosgrado.especialidad.nombre !== null && hoy >= profesionalPosgrado.matriculacion[profesionalPosgrado.matriculacion.length - 1].fin  " class="badge badge-warning">
                              {{profesionalPosgrado.especialidad.nombre}}: Matrícula vencida
                            </span>
                          </div>
                        </div>

                        <div *ngIf='matriculasBaja'>
                          <div class="row">
                            <div *ngFor="let profesionalGrado of profesional.formacionGrado">
                              <div *ngIf='profesionalGrado.matriculacion && profesionalGrado.matriculacion.length > 0'>
                                <div *ngFor="let matriculacion of profesionalGrado.matriculacion" class="text-danger badgeP  ">
                                  <div *ngIf='matriculacion.baja && matriculacion.baja.motivo !== "" && matriculacion.baja.fecha !== null'>
                                    <div class="badge-danger ">
                                      {{profesionalGrado.profesion.nombre}} : N° {{matriculacion.matriculaNumero}}
                                      <br> {{matriculacion.baja.motivo }}
                                      <br>{{matriculacion.baja.fecha | fecha }}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </plex-box>
      </div>
    </div>





  </section>
  <footer>
    <div class="float-right">
      <plex-button *ngIf="deshabilitarExportar" label="Exportar" type="warning" position="right" (click)="generarReporte(true)" disabled="true"></plex-button>
      <plex-button *ngIf="!deshabilitarExportar" label="Exportar" type="warning" position="right" (click)="generarReporte(true)"></plex-button>
      <plex-button label="Generar reporte" type="success" position="right" (click)="generarReporte(false)"></plex-button>
    </div>
  </footer>
</form>
