<plex-layout>
    <plex-layout-main>
        <plex-title titulo="Consulta de estado">
            <plex-button *ngIf='filtro && !scanned' type='success' class="float-right" (click)='buscar()' label='Buscar'
                         [disabled]="!formNumeracion?.valid">
            </plex-button>
        </plex-title>
        <form #formNumeracion="ngForm">
            <ng-container *ngIf="!scanned">
                <plex-wrapper>
                    <plex-select label="Seleccione una opción" (change)='limpiaFiltro()' [(ngModel)]="filtro"
                                 name="seleccionOpcion" [data]="guiaProfesionalEnum" [required]="true">
                    </plex-select>
                    <plex-text *ngIf='filtro && filtro.id === 0' label="Documento" [(ngModel)]="busqueda.documento"
                               name='documento' placeholder="Ingrese un documento" [required]="true">
                    </plex-text>
                    <plex-select *ngIf=' filtro && filtro.id === 1' label="profesión"
                                 [(ngModel)]="busqueda.formacionGrado" name='formacionGrado'
                                 (getData)="loadProfesiones($event)" placeholder="Seleccione una profesión"
                                 [required]="true">
                    </plex-select>
                    <plex-int *ngIf=' filtro && filtro.id === 1' label="Número Matrícula" name='numMatricula'
                              [(ngModel)]="busqueda.numeroMatricula" placeholder="Ingrese una matrícula"
                              [required]="true">
                    </plex-int>
                    <plex-text *ngIf=' filtro && filtro.id === 2' label="Nombre" [(ngModel)]="busqueda.nombre"
                               name='nombre'>
                    </plex-text>
                    <plex-text *ngIf=' filtro && filtro.id === 2' label="Apellido" name='apellido'
                               [(ngModel)]="busqueda.apellido" placeholder="Ingrese un apellido" [required]="true">
                    </plex-text>
                    <plex-select *ngIf=' filtro && filtro.id === 2' label="profesión"
                                 [(ngModel)]="busqueda.formacionGrado" name='formacionGrado'
                                 (getData)="loadProfesiones($event)" placeholder="Seleccione una profesión"
                                 [required]="true">
                    </plex-select>
                </plex-wrapper>
            </ng-container>
        </form>
        <plex-loader *ngIf="loading" type="ball-pulse-sync"></plex-loader>
        <plex-label *ngIf="profesionales.length === 0 && mostrarInfo && !loading" type="warning" size="xl"
                    direction="column" titulo='Sin resultados'
                    subtitulo="No se encontró ningún profesional que coincida con los criterios de búsqueda">
        </plex-label>

        <plex-accordion *ngFor="let profesional of profesionales  ">
            <plex-panel *mobile="false">
                <div plex-accordion-title justify>
                    <section class="w-50">
                        <plex-label size="lg" case="capitalize"
                                    titulo="{{ profesional.nombre }},{{profesional.apellido}}"
                                    subtitulo="{{ profesional.documento }}" icon="medico">
                        </plex-label>
                    </section>
                    <plex-badge type="danger" *ngIf="!profesional.habilitado">
                        Profesional no habilitado</plex-badge>
                </div>
                <plex-grid size="xs" cols="4">
                    <plex-card *ngFor="let profesion of profesional.profesiones" [selectable]="true"
                               type="{{( profesion.matriculado && profesion.matriculaVigente) ? 'success' : 'danger'}}"
                               size="xs">
                        <plex-badge type="success"
                                    *ngIf="profesion.matriculado && profesion.matriculaVigente  ">MATRÍCULA
                            N°{{profesion.matricula}}
                            ACTIVA</plex-badge>
                        <plex-badge type="danger"
                                    *ngIf="!profesion.matriculado || !profesion.matriculaVigente  ">MATRÍCULA
                            N°{{profesion.matricula}} INACTIVA</plex-badge>
                        <div class="mb-3">
                            <plex-label icon="medico" justify="center" direction="column"
                                        titulo="{{ profesional.nombre }},{{profesional.apellido}}"
                                        subtitulo="{{ profesional.documento }}" size="lg"></plex-label>
                            <plex-label justify="center" direction="column" titulo="Profesión"
                                        subtitulo="{{ profesion.profesion }}" size="lg"></plex-label>
                            <plex-label justify="center" direction="column" titulo="Sexo"
                                        subtitulo="{{ profesional.sexo }}" size="lg"></plex-label>
                            <plex-label justify="center" direction="column" titulo="Nacionalidad"
                                        subtitulo="{{ profesional.nacionalidad }}" size="lg"></plex-label>
                        </div>
                    </plex-card>
                    <plex-label *ngIf="!profesional.profesiones.length" type="warning" size="xl" justify="center"
                                titulo='Sin resultados'
                                subtitulo="No se encontró ningúna profesion de grado matriculada">
                    </plex-label>
                </plex-grid>
            </plex-panel>
            <plex-panel *mobile>
                <div plex-accordion-title justify>
                    <section class=" w-50">
                        <plex-label size="lg" case="capitalize"
                                    titulo="{{ profesional.nombre }},{{profesional.apellido}}"
                                    subtitulo="{{ profesional.documento }}" icon="medico">
                        </plex-label>
                        <plex-badge type="danger" *ngIf="!profesional.habilitado">
                            Profesional no habilitado</plex-badge>
                    </section>

                </div>
                <plex-list size="md" cols="3">
                    <plex-card *ngFor="let profesion of profesional.profesiones" [selectable]="true"
                               type="{{( profesion.matriculado && profesion.matriculaVigente) ? 'success' : 'danger'}}">
                        <plex-badge type="success"
                                    *ngIf="profesion.matriculado && profesion.matriculaVigente  ">MATRÍCULA
                            N°{{profesion.matricula}}
                            ACTIVA</plex-badge>
                        <plex-badge type="danger"
                                    *ngIf="!profesion.matriculado || !profesion.matriculaVigente  ">MATRÍCULA
                            N°{{profesion.matricula}} INACTIVA</plex-badge>
                        <div class="mb-3">
                            <plex-label icon="medico" justify="center" direction="column"
                                        titulo="{{ profesional.nombre }},{{profesion.apellido}}"
                                        subtitulo="{{ profesional.documento }}" size="lg"></plex-label>
                            <plex-label justify="center" direction="column" titulo="Profesión"
                                        subtitulo="{{ profesion.profesion }}" size="lg"></plex-label>
                            <plex-label justify="center" direction="column" titulo="Sexo"
                                        subtitulo="{{ profesional.sexo }}" size="lg"></plex-label>
                            <plex-label justify="center" direction="column" titulo="Nacionalidad"
                                        subtitulo="{{ profesional.nacionalidad }}" size="lg"></plex-label>
                        </div>
                    </plex-card>
                </plex-list>
            </plex-panel>
        </plex-accordion>



    </plex-layout-main>
</plex-layout>