<section>
    <div class="row">
        <div class="col-12">
            <plex-box>
                <header>
                    <div class="row">
                        <div class="col-7">
                            <div class="page-title">Consulta de estado</div>
                        </div>
                    </div>
                    <form #formNumeracion="ngForm">

                        <div class="row">
                            <div class="col-3">
                                <plex-select label="Seleccione una opción" (change)='limpiaFiltro()'
                                             [(ngModel)]="filtro" name="seleccionOpcion" [data]="guiaProfesionalEnum"
                                             [required]="true"></plex-select>
                            </div>
                            <div class="col-9">
                                <div class="row" *ngIf=' filtro && filtro.id === 0'>
                                    <div class="col-md-6">
                                        <plex-text label="Documento" [(ngModel)]="busqueda.documento" name='documento'
                                                   placeholder="Ingrese un documento" [required]="true">
                                        </plex-text>
                                    </div>
                                </div>
                                <div class="row" *ngIf=' filtro && filtro.id === 1'>
                                    <div class="col-md-6">
                                        <plex-select label="profesion" [(ngModel)]="busqueda.formacionGrado"
                                                     name='formacionGrado' (getData)="loadProfesiones($event)"
                                                     placeholder="Seleccione una profesión" [required]="true">
                                        </plex-select>
                                    </div>
                                    <div class="col-md-6">
                                        <plex-int label="Número Matrícula" name='numMatricula'
                                                  [(ngModel)]="busqueda.numeroMatricula"
                                                  placeholder="Ingrese una matrícula" [required]="true">
                                        </plex-int>
                                    </div>
                                </div>
                                <div class="row" *ngIf=' filtro && filtro.id === 2'>
                                    <div class="col-md-4">
                                        <plex-text label="Nombre" [(ngModel)]="busqueda.nombre" name='nombre'>
                                        </plex-text>
                                    </div>
                                    <div class="col-md-4">
                                        <plex-text label="Apellido" name='apellido' [(ngModel)]="busqueda.apellido"
                                                   placeholder="Ingrese un un apellido" [required]="true">
                                        </plex-text>
                                    </div>
                                    <div class="col-md-4">
                                        <plex-select label="profesion" [(ngModel)]="busqueda.formacionGrado"
                                                     name='formacionGrado' (getData)="loadProfesiones($event)"
                                                     placeholder="Seleccione una profesión" [required]="true">
                                        </plex-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <plex-button *ngIf='filtro' type='success' class="float-right"
                                     (click)='buscar($event,formNumeracion)' label='Buscar' validateForm="true">
                        </plex-button>
                    </form>

                </header>
                <div *ngIf='profEncontrado && profEncontrado.length === 0 && mostrarInfo' class="alert alert-danger">
                    <i class="mdi mdi-account-alert"></i> No se encontró ningún profesional
                </div>
                <table class="table table-striped" *ngIf='profEncontrado && profEncontrado.length > 0 '>
                    <thead>
                        <tr>
                            <th>Apellido y Nombre</th>
                            <th>Sexo</th>
                            <th>Documento</th>
                            <th>Nacionalidad</th>
                            <th>Profesión</th>
                            <th>Matrícula</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <ng-container *ngFor='let unProfesional of profEncontrado'>
                        <tbody *ngFor='let unProfesion of unProfesional.profesiones'>
                            <td>{{unProfesional.apellido}} {{unProfesional.nombre}}</td>
                            <td>{{unProfesional.sexo}}</td>
                            <td>{{unProfesional.documento}}</td>
                            <td>{{unProfesional.nacionalidad}}</td>
                            <td> {{unProfesion.profesion.nombre}}</td>
                            <td> {{unProfesion.matriculacion[unProfesion.matriculacion.length -
                                1].matriculaNumero}}</td>
                            <td *ngIf='unProfesion.matriculado'>
                                <span class="badge badge-success">Activa</span>
                            </td>
                            <td *ngIf='!unProfesion.matriculado'>
                                <span class="badge badge-danger">vencida</span>
                            </td>
                        </tbody>
                    </ng-container>

                </table>
            </plex-box>
        </div>
    </div>
</section>
<!-- <footer>
    <plex-button label="Volver"  type="danger" routerLink="/homeProfesionales" icon="arrow-left-bold"></plex-button>
</footer> -->