<section>
    <div class="row">
        <div class="col-12">
            <plex-box>
                <header>
                    <div class="row">
                        <div class="col-7">
                            <div class="page-title">Consulta de estado</div>
                        </div>
                    </div>
                    <form>

                        <div class="row">
                            <div class="col-3">
                                <plex-select label="Seleccione una opcion" (change)='limpiaFiltro()' [(ngModel)]="filtro" name="sexo" [data]="guiaProfesionalEnum"
                                    [required]="true"></plex-select>
                            </div>
                            <div class="col-9">
                                <!-- <div class="row" *ngIf=' filtro && filtro.id === 0'>
                            <div class="col-md-6">
                                <plex-text label="apellido" [(ngModel)]="busqueda.apellido" name="apellido" [required]="true"></plex-text>
                            </div>
                            <div class="col-md-6">
                                <plex-text label="Nombre" [(ngModel)]="busqueda.nombre" name="nombre" [required]="true"></plex-text>
                            </div>
                        </div> -->

                                <div class="row" *ngIf=' filtro && filtro.id === 0'>
                                    <div class="col-md-6">
                                        <plex-text label="Documento" [(ngModel)]="busqueda.documento" name='documento'
                                            placeholder="escriba un documento">
                                        </plex-text>
                                    </div>
                                </div>
                                <div class="row" *ngIf=' filtro && filtro.id === 1'>
                                    <div class="col-md-6">
                                        <plex-select label="profesion" [(ngModel)]="busqueda.formacionGrado" name='formacionPosgrado'
                                            (getData)="loadProfesiones($event)"></plex-select>
                                    </div>
                                    <div class="col-md-6">
                                        <plex-int label="Numero Matricula" name='numMatricula' [(ngModel)]="busqueda.numeroMatricula"
                                            placeholder="escriba un documento">
                                        </plex-int>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <plex-button *ngIf='filtro' type='success' class="float-right" (click)='buscar()' label='Buscar'></plex-button>
                    </form>

                </header>
                <div *ngIf='!profEncontrado && mostrarInfo' class="alert alert-danger">
                    <i class="mdi mdi-account-alert"></i> No se encontró ningún profesional
                  </div>
                <table class="table table-striped" *ngIf='profEncontrado'>
                    <thead>
                        <tr>
                            <th>Apellido y Nombre</th>
                            <th>sexo</th>
                            <th>Documento</th>
                            <th>Nacionalidad</th>
                            <th>profesion</th>
                            <th>matricula</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody *ngFor='let unProfesion of profEncontrado.profesiones'>
                        <td>{{profEncontrado.apellido}} {{profEncontrado.nombre}}</td>
                        <td>{{profEncontrado.sexo}}</td>
                        <td>{{profEncontrado.documento}}</td>
                        <td>{{profEncontrado.nacionalidad}}</td>
                        <td> {{unProfesion.profesion.nombre}}</td>
                        <td> {{unProfesion.matriculacion[unProfesion.matriculacion.length - 1].matriculaNumero}}</td>
                        <td *ngIf='unProfesion.matriculado'>
                            <span class="badge badge-success">Activa</span>
                        </td>
                        <td *ngIf='!unProfesion.matriculado'>
                            <span class="badge badge-danger">vencida</span>
                        </td>

                    </tbody>
                </table>
            </plex-box>
        </div>
    </div>
</section>
<!-- <footer>
    <plex-button label="Volver"  type="danger" routerLink="/homeProfesionales" icon="arrow-left-bold"></plex-button>
</footer> -->