/* You can add global styles to this file, and also import other style files */
@import '~andes-plex/src/lib/styles.less';
@import './bootstrap-datepicker3.standalone.css';

ul {
    list-style-type: none;
}

.list-item-custom {
    font-family: 'Glyphicons Halflings';
    font-size: 15px;
    margin-left: -17px;
    margin-right: 10px;
    color: #CCCCCC;
}

ul.requisitos-warn li:before {
    content: "\e107";
    .list-item-custom;
}

ul.requisitos-check li:before {
    content: "\e013";
    .list-item-custom;
}

ul.horizontal-list li {
    display: inline;
}

ul.horizontal-list li:before {
    content: "\e250";
    .list-item-custom;
    margin-left: 3px;
}