@import '~@andes/plex/src/lib/styles.scss';


.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
  background:#ff6a30 !important;
  padding: 0px 0px 0px 0px;
  border: 2px solid white !important;
}

.datepicker table tr td, .datepicker table tr th {
  height: 40px !important;
  border-radius: 0px !important;
}