@import '~@andes/plex/src/lib/styles.scss';
$adi-font-path: '~@andes/icons/fonts/';
@import '~@andes/icons/scss/andes-icons';
@import '@andes/plex/src/lib/css/variables.scss';

.datepicker table, .table-condensed {
  width: 100%;
  height: 75vh!important;
  border-collapse: collapse;
}

.datepicker table tr td.disabled {
  background: lightgray !important;
  padding: 0px 0px 0px 0px; 
  opacity: .25;
  user-select: none;
}

.datepicker table tr td,
.datepicker table tr th {
  font-weight: normal;
  font-size: 1.25rem;
  height: calc(100% - 5rem) !important;
  text-align: center;
  border-radius: 0px !important;
  border: 1px solid lightgray !important;
}

.datepicker table tr td:hover,
.datepicker table tr th:hover {
  color:#000000 !important;
  background-color: $light-blue !important;
  border: 1px solid $blue !important;
}

.datepicker.datepicker-inline table th{
  &.next,&.prev{
    background-color: $blue;
    color:white;
    font-size: 1.25rem;
  }
}

.datepicker table tr td.today{
    color: white !important;
    background-color: $dark-blue !important;
}

.datepicker table tr td.today:hover{
  color: #000000 !important;
  background-color: $light-blue !important;
  border: 1px solid $blue !important;
}

.datepicker table tr td.today:active,
.datepicker table tr td.today.active {
  color: #000000 !important;
  background-color: $dark-blue !important;
}

.datepicker table tr td.active.day,.datepicker table tr td:hover,.datepicker table tr td.disabled:hover {
  --item-border-color: "#{$blue}";
  --item-border-color-hover: #{transparentize($color: $blue, $amount: 0.4)};
  --item-bg-color: #{$light-blue};
box-sizing: border-box;
box-shadow: inset 0 0 0 2px var(--item-border-color-hover) !important;
background-color: var(--item-bg-color) !important;
color: black!important;
}
