
<section>
<plex-box title="Agenda" type="{{boxType}}">
    <div  *ngIf='!mostrar'>
            <div class="col-12 text-center">
                    <header>
                           <div class="page-title">Agenda</div>
                   </header>
               </div>
    <app-agenda-form></app-agenda-form>
<!-- <form #formAgenda="ngForm">

            <div class="row">
                </div>
                <br>
                <br>
            <div class="row">
                    <div class="col-md-12">                
                        <plex-select label="Días Habilitados" [(ngModel)]="currentAgenda.diasHabilitados" name="diasHabilitados" [data]="dias" [multiple]="true" [required]="true"></plex-select>                
                    </div>
                </div>
        <div class="row">
            <div class="col-md-6">                
                <plex-datetime label="Horario de inicio de los turnos" type="time" [(ngModel)]="currentAgenda.horarioInicioTurnos" name="horarioInicioTurnos"  [required]="true"></plex-datetime>                
            </div>
            <div class="col-md-6">                
                <plex-datetime label="Horario de fin de los  turnos" type="time" [(ngModel)]="currentAgenda.horarioFinTurnos" name="horarioFinTurnos" [required]="true"></plex-datetime>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <plex-int label="Duración de los Turnos (En minutos)" [(ngModel)]="currentAgenda.duracionTurno" name="duracionTurno" [required]="true" max="60"></plex-int>
            </div>
            <div class="col-md-4">                
                <plex-datetime label="Agregar Feriados" type="date" [(ngModel)]="currentAgenda.fechasExcluidas" name="fechasExcluidas" [required]="false"></plex-datetime>
            </div>
            <div class="col-md-2">
                    <label>&nbsp;</label>
                    
                    <plex-button label="Agregar Fecha" [disabled]="currentAgenda.fechasExcluidas == null" (click)="agregarFeriado()"></plex-button>
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Feriados</label>
                <ul class="horizontal-list" style="margin-bottom: 20px; margin-left: -40px;">
                    <li *ngFor="let fecha of feriados; let idx = index">{{ fecha | date:"dd/MM/yyyy" }}
                        <plex-button icon="delete" type="xs" (click)="eliminarFeriado(idx)"></plex-button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <plex-button (click)="guardarConfiguracion($event,formAgenda)" label="Guardar" type="primary" validateForm="true"></plex-button>
            </div>
        </div>

</form> -->
<br>
<div class="page-title">Agenda actual</div>
    <table  class="table table-striped">
        <thead>
          <tr>
            <th>Dias</th>
            <th>hora inicio</th>
            <th>hora fin</th>
            <th>duracion turno</th>
            <th>fechas excluidas</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover" *ngFor="let agenda of agendas,let i = index" (click)="showEditar(agenda)" >
               
            <td>
                <div *ngFor="let dias of agenda.diasHabilitados,let n = index">  {{dias.nombre}}</div>
            </td>
            <td>{{agenda.horarioInicioTurnos | date: 'HH:mm'}}</td>
            <td>{{agenda.horarioFinTurnos | date: 'HH:mm'}}</td>
            <td>{{agenda.duracionTurno }}</td>
            <td>
                <span *ngIf='agendasFeriados === null'>No hay fechas excluidas</span>
     <div  *ngFor="let feriados of agenda.fechasExcluidas,let m = index">  {{feriados | date: 'dd/MM/yyyy'}}</div>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
    <div *ngIf='mostrar'>
            <div class="col-12 text-center">
                    <header>
                           <div class="page-title">Modificar agenda</div>
                   </header>
               </div>
            <app-agenda-form [agendaAmodificar]='agendaSelect'></app-agenda-form>
    </div>
    </plex-box>
</section>
<footer>
    <plex-button *ngIf='mostrar' label="Volver"  type="danger" (click)="showListar()" icon="arrow-left-bold"></plex-button>        
    <plex-button *ngIf='!mostrar' label="Volver"  type="danger" routerLink="/homeAdministracion" icon="arrow-left-bold"></plex-button>
</footer>