
<section>
<plex-box title="Agenda" type="{{boxType}}">
    <div  *ngIf='!mostrar'>
            <div class="col-12 text-center">
                    <header>
                           <div class="page-title">Agenda</div>
                   </header>
               </div>
    <app-agenda-form (emitAgenda)='insertar($event)'></app-agenda-form>

<br>
<div class="page-title">Agenda actual</div>
    <table  class="table table-striped">
        <thead>
          <tr>
            <th>Dias</th>
            <th>hora inicio</th>
            <th>hora fin</th>
            <th>duracion turno</th>
            <th>fechas excluidas</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hover" *ngFor="let agenda of agendas,let i = index" (click)="showEditar(agenda)" >
               
            <td>
                <div *ngFor="let dias of agenda.diasHabilitados,let n = index">  {{dias.nombre}}</div>
            </td>
            <td>{{agenda.horarioInicioTurnos | date: 'HH:mm'}}</td>
            <td>{{agenda.horarioFinTurnos | date: 'HH:mm'}}</td>
            <td>{{agenda.duracionTurno }}</td>
            <td>
                <span *ngIf='agendasFeriados === null'>No hay fechas excluidas</span>
                <div class="row">
                 <div class="col-2"  *ngFor="let feriados of agenda.fechasExcluidas,let m = index">
                    <div >
                        {{feriados | date: 'dd/MM/yyyy'}}
                    </div>
                </div>
               </div>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
    <div *ngIf='mostrar'>
            <div class="col-12 text-center">
                    <header>
                           <div class="page-title">Modificar agenda</div>
                   </header>
               </div>
            <app-agenda-form  [agendaAmodificar]='agendaSelect'></app-agenda-form>
    </div>
    </plex-box>
</section>
<footer>
    <plex-button *ngIf='mostrar' label="Volver"  type="danger" (click)="showListar()" icon="arrow-left-bold"></plex-button>        
    <plex-button *ngIf='!mostrar' label="Volver"  type="danger" routerLink="/homeAdministracion" icon="arrow-left-bold"></plex-button>
</footer>