<div class="row">
    <div class="col-sm-9">
        <plex-box [formGroup]="formBuscarTurno" *ngIf="showListado">
            <div class="row">
                <div class="col-md-3">
                    <plex-text label="Apellido" formControlName="apellido"></plex-text>
                </div>
                <div class="col-md-3">
                    <plex-text label="Nombre" formControlName="nombre"></plex-text>
                </div>  
                <div class="col-md-3">
                    <plex-int label="Documento" formControlName="documentoNumero"></plex-int>
                </div>
                <div class="col-md-3">
                    <plex-datetime type="date" label="Fecha" formControlName="fecha"></plex-datetime>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <plex-button class="pull-right" label="Buscar Turno" type="primary" (click)="buscar()"></plex-button>
                </div>
            </div>

        </plex-box>


        <app-mat-listado *ngIf="showListado" [data]="turnos" (updateData)="buscar($event)">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th> Hora</th>
                    <th>Apellido y Nombre</th>
                    <th>Documento</th>
                    <th>Profesión</th>
                    <th>&nbsp;&nbsp;&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="turnos.length === 0">
                    <td colspan="6">
                        No se encontraron resultados.
                    </td>
                </tr>
                <tr *ngFor="let turno of turnos" (click)="showTurno(turno)" class="listado-row" [ngClass]="{'selected-row': turnoElegido && turno._id === turnoElegido._id}">
                    <td>{{ turno['fecha'] | date:'dd/MM/yyyy' }}</td>
                    <td>{{ turno.fecha | date:'hh:mm' }}</td>
                    <td>{{ (turno.profesional ? turno.profesional.nombreCompleto : '' ) }}</td>
                    <td>{{ (turno.profesional ? 'DNI ' + turno.profesional.documentoNumero : '') }}</td>
                    <td>{{ (turno.profesional ? turno['profesional']['formacionProfesional']['profesion']['nombre'] : '') }}</td>
                    <td [ngClass]="{'success' : turno.sePresento, 'danger': !turno.sePresento}"></td>
                </tr>
            </tbody>
        </app-mat-listado>
 
    </div>


    <div class="col-sm-3" *ngIf="turnoElegido && showListado">
        <plex-box title="Detalle del Turno">
            <div class="row">
                <div class="col-sm-12">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nombre-profesional">
                                {{ turnoElegido.fecha | date: 'dd/MM/yyyy hh:mm'}} hs
                            </div>
                            <div class="datos-profesional">
                                {{ turnoElegido.tipo === 'matriculacion' ? 'Matriculación' : 'Renovación' }}
                            </div>
                            <plex-button type="success" label="Cambiar Estado" class="pull-right" (click)="cambiarEstado()" *ngIf="!turnoElegido.sePresento"></plex-button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="nombre-profesional">
                                <span style="font-weight: bold">{{turnoElegido.profesional.apellidos + ', '}}</span>{{turnoElegido.profesional.nombres}}
                            </div>
                            <div class="datos-profesional">
                                {{turnoElegido.profesional.edad + ' años'}} | {{'DNI ' + turnoElegido.profesional.documentoNumero }}<br />
                                {{turnoElegido.profesional.formacionProfesional.profesion.nombre}}
                            </div>
                            <span class="mdi mdi-big mdi-danger mdi-alert" *ngIf="turnoElegido.profesional.renovacionVencida">
                                <span style="margin-left: 5px;">Renovación Vencida</span>
                            </span>
                            <plex-button type="primary" label="Ver Profesional" class="pull-right" [disabled]="!turnoElegido.sePresento" (click)="toggleListado(false)"></plex-button>
                        </div>
                    </div>
                    
                </div>
            </div>

        </plex-box>
    </div>    
</div>


<app-detalle-profesional 
    [profesional]="turnoElegido.profesional"
    (onShowListado)="toggleListado(true)"
    *ngIf="turnoElegido && !showListado"></app-detalle-profesional>
