<!-- <div class="row" *ngIf="sobreTurno">
  <div class="col-12 text-center">
    <header>
      <div class="page-title">Seleccione fecha</div>
    </header>
  </div>
  <div class="col-md-6">
    <plex-datetime label="fecha" type="date" [(ngModel)]="fecha" name='hora' [required]="true"></plex-datetime>
  </div>
  <div class="col-md-6">
    <plex-datetime label="hora" type="time" [(ngModel)]="horario" name='hora' [required]="true"></plex-datetime>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center" *ngIf="sobreTurno">
      <button class="btn btn-success pull-right" style="margin-right: 8px; margin-top: 8px"
              (click)="confirmSobreTurno()">Confirmar</button>
    </div>
  </div>
</div> -->

<fieldset>
  <div #div class="datepicker"></div>
  <input #input type="hidden">
  <!-- <div class="col-md-4">
      <plex-title titulo="Dar turno" size="sm">
        <plex-badge type="info">21/01/2021</plex-badge>
        <plex-button class="ml-2" label="Continuar" type="success" size="sm"></plex-button>
        <plex-button class="ml-2" title="Volver" icon="arrow-left" type="danger" size="sm"></plex-button>
      </plex-title>
      <plex-label titulo="21/01/2021" subtitulo="Jueves 15:39" type="success" size="lg" icon="calendar-today">
      </plex-label>
      <plex-title titulo="Seleccionar turno" size="sm"></plex-title>
      <plex-grid size="md" type="auto">

        <plex-card type="dark" size="sm" *ngFor="let turno of horariosDisponibles; let idx = index"
                   (click)="buildFechaTurno(horariosDisponibles[idx])"
                   [ngClass]="{'turno-activo' : isActive(horariosDisponibles[idx]),'mt-2' : true,'btn-horario' : true}">
          <plex-label titulo="{{ horariosDisponibles[idx].hora }}:{{ (horariosDisponibles[idx].minutos < 10 ? '0' : '' ) +
          horariosDisponibles[idx].minutos }} hs" size="md">
          </plex-label>
        </plex-card>
      </plex-grid>
    </div> -->
</fieldset>