<!--<plex-box title="Fecha y Hora del Turno"  type="{{boxType}}" >-->
    <div class="row">
        <div class="col-lg-12" *ngIf="turnoElegido">
            <h2>Fecha y hora: {{ lblTurno }}.</h2>
        </div>
    </div>
    <div class="row" *ngIf="!turnoElegido">
        <div class="col-sm-4">
            <div #div class="datepicker"></div>
            <input #input type="hidden">
        </div>
        <div class="col-sm-8" *ngIf="fechaElegida != undefined">
            <span style="height: 40px; display: block"></span>
            <div *ngFor="let turno of horariosDisponibles; let idx = index">
                
                <div class="row" *ngIf="idx % 3 == 0" style="margin-bottom:15px">
                    <div class="col-4" *ngFor="let i of [0, 1, 2]">
                        <button [disabled]="horariosDisponibles[idx + i] && horariosDisponibles[idx + i].ocupado" class="btn btn-primary" (click)="buildFechaTurno(horariosDisponibles[idx + i])" style="width: 100%">
                            <span *ngIf="horariosDisponibles[idx + 0]">
                                {{ horariosDisponibles[idx + i].hora }}:{{ (horariosDisponibles[idx + i].minutos == 0) ? '00' : horariosDisponibles[idx + i].minutos }} hs
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!turnoElegido" style="margin-bottom: 15px">
        <div class="col-sm-12">
            <button class="btn btn-success pull-right" style="margin-right: 8px; margin-top: 8px" (click)="confirmTurno()">Confirmar Turno</button>
        </div>
    </div>    
<!--</plex-box>-->