<div class="row" *ngIf="sobreTurno">
  <div class="col-12 text-center">
    <header>
      <div class="page-title">Seleccione fecha</div>
    </header>
  </div>
  <div class="col-md-6">
    <plex-datetime label="fecha" type="date" [(ngModel)]="fecha" name='hora' [required]="true"></plex-datetime>
  </div>
  <div class="col-md-6">
    <plex-datetime label="hora" type="time" [(ngModel)]="horario" name='hora' [required]="true"></plex-datetime>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center" *ngIf="sobreTurno">
      <button class="btn btn-success pull-right" style="margin-right: 8px; margin-top: 8px"
              (click)="confirmSobreTurno()">Confirmar</button>
    </div>
  </div>
</div>

<fieldset>
  <div class="row">
    <div class="col-md-7">
      <div #div class="datepicker"></div>
      <input #input type="hidden">
    </div>
    <div class="col-md-5" *ngIf="fechaElegida != undefined">
      <label>Seleccione fecha</label>
      <div class="row mt-3" justify="left">
        <div class="col">
          <plex-badge *ngIf='sinTurnos && horariosDisponibles.length > 0' type="danger">No hay mas turnos para la
            fecha seleccionada</plex-badge>
          <plex-badge *ngIf='horariosDisponibles.length === 0' type="danger">No hay mas turnos para la
            fecha seleccionada</plex-badge>
        </div>
      </div>
      <div class="row mt-3" justify="left">
        <div class="col-sm-3" *ngFor="let turno of horariosDisponibles; let idx = index">
          <plex-button [disabled]="horariosDisponibles[idx] && horariosDisponibles[idx].ocupado" size="block"
                       type="info" (click)="buildFechaTurno(horariosDisponibles[idx]) "
                       [ngClass]="{'turno-activo' : isActive(horariosDisponibles[idx]),'mt-2' : true,'btn-horario' : true}">
            {{ horariosDisponibles[idx].hora }}:{{ (horariosDisponibles[idx].minutos < 10 ? '0' : '') + horariosDisponibles[idx].minutos }}
            hs
          </plex-button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col" justify>
          <plex-button id="#btn-continue" [disabled]="!horarioSi" type="success" (click)="confirmTurno()">Continuar
          </plex-button>
        </div>
      </div>
    </div>
  </div>

</fieldset>