<!-- <div class="row">
    <div class="col-md-9">
        <app-nuevo-turno [tipoTurno]="tipoTurno" (onTurnoSeleccionado)="onTurnoSeleccionado($event)"></app-nuevo-turno>
    </div>
</div>
<div class="row">
    <div class="col-md-9" *ngIf="turnoSeleccionado">
        <app-profesional  (onProfesionalCompleto)="onProfesionalCompleto($event)"></app-profesional>
    </div>
</div> -->

<section>
    <div class="row">
        <div class="col-12">
            <plex-box type="primary">
                <header>
                    <app-nuevo-turno [tipoTurno]="tipoTurno" (onTurnoSeleccionado)="onTurnoSeleccionado($event)" [sobreTurno]="id"></app-nuevo-turno>
                </header>

              
              
              
                <form #formNuevoProf='ngForm'  *ngIf="turnoSeleccionado && !id">
                        <fieldset>
                                <legend>Datos para la renovacion</legend>
                                <div class="col-md-12">
                            <!-- contacto -->
                           
                            <div class="row">
                                <div class="col-md-6">
                                    <plex-text label="apellido" [(ngModel)]="profesional.apellido" name="apellido" [required]="true"></plex-text>
                                </div>
                                <div class="col-md-6">
                                    <plex-text label="Nombre" [(ngModel)]="profesional.nombre" name="nombre" [required]="true"></plex-text>
                                </div>
                            </div>
                            <div class="row">

                                    <div class="col-md-4">
                                            <plex-datetime type="date" label="Fecha de Nacimiento" [(ngModel)]="profesional.fechaNacimiento" name="fechaNacimiento" [required]="true"></plex-datetime>
                                        </div>

                                <div class="col-md-4">
                                    <plex-int label="Nº de Documento" [(ngModel)]="profesional.documento" name="documento" [required]="true"></plex-int>
                                </div>

                            </div>
                        </div>
                        </fieldset>
                        <br>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                    <plex-button type="success" label="Confirmar Datos"  (click)="onProfesionalCompleto($event)"
                                    class="pull-right" validateForm="true"></plex-button>
                            </div>
                        </div>
                    
                    </form>
            </plex-box>
        </div>
    </div>
</section>
<footer>
        <plex-button label="Volver" *ngIf='!id'  type="danger" routerLink="/requisitosGenerales" icon="arrow-left-bold"></plex-button>
        <plex-button label="Volver" *ngIf='id'  type="danger" routerLink="/listarProfesionales" icon="arrow-left-bold"></plex-button>
    </footer>