<plex-layout [aspect]="8">
  <plex-layout-main>
    <header justify>
      <plex-title *ngIf="!turnoSeleccionado" titulo="Selección de fecha para renovación">
      </plex-title>
      <plex-button label="Volver" *ngIf='!id' type="danger" routerLink="/requisitosGenerales">
      </plex-button>
      <plex-button label="Volver" *ngIf='id' type="danger" routerLink="/listarProfesionales">
      </plex-button>
    </header>
    <app-nuevo-turno *ngIf="!turnoSeleccionado" [tipoTurno]="tipoTurno"
                     (onTurnoSeleccionado)="onTurnoSeleccionado($event)" [sobreTurno]="id"></app-nuevo-turno>
  </plex-layout-main>
  <plex-layout-sidebar type="invert">
    <router-outlet></router-outlet>
  </plex-layout-sidebar>
</plex-layout>