<plex-layout>
  <plex-layout-main>
    <header justify>
      <plex-title *ngIf="!turnoSeleccionado" titulo="Solicitud de turno para matriculación" size="md"></plex-title>
      <plex-title *ngIf="turnoSeleccionado" titulo="Registro de profesional" size="md"></plex-title>
      <plex-button label="Volver" type="danger" routerLink="/requisitosMatriculaUniversitaria"></plex-button>
    </header>
    <div class="row">
      <div class="col-12">
        <app-nuevo-turno *ngIf="!turnoSeleccionado" [tipoTurno]="tipoTurno" (onTurnoSeleccionado)="onTurnoSeleccionado($event)"></app-nuevo-turno>
        <app-profesional *ngIf="turnoSeleccionado" (onProfesionalCompleto)="onProfesionalCompleto($event)"></app-profesional>

      </div>
    </div>
  </plex-layout-main>
</plex-layout>

<!--
<div class="row">
    <div class="col-md-9">
    </div>
</div>
<div class="row">
    <div class="col-md-9" *ngIf="turnoSeleccionado">
        <app-profesional (onProfesionalCompleto)="onProfesionalCompleto($event)"></app-profesional>
    </div>
</div>-->