<section>
    <div class="row">
        <div class="col-12">
            <plex-box type="primary">
                <header>
                    <app-nuevo-turno [tipoTurno]="tipoTurno" (onTurnoSeleccionado)="onTurnoSeleccionado($event)"></app-nuevo-turno>
                </header>

                <app-profesional (onProfesionalCompleto)="onProfesionalCompleto($event)" *ngIf="turnoSeleccionado"></app-profesional>
            </plex-box>
        </div>
    </div>
</section>
<footer>
        <plex-button label="Volver"  type="danger" routerLink="/requisitosMatriculaUniversitaria" icon="arrow-left-bold"></plex-button>
</footer>


<!--
<div class="row">
    <div class="col-md-9">
    </div>
</div>
<div class="row">
    <div class="col-md-9" *ngIf="turnoSeleccionado">
        <app-profesional (onProfesionalCompleto)="onProfesionalCompleto($event)"></app-profesional>
    </div>
</div>-->