
.list-group-item {
    cursor: pointer;
    &.active {
        border: solid 2px #00A8E0 !important;
        background-color: aliceblue !important;
        box-sizing: border-box;
        color: black;
    }
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #9bc4d2;
    border-color: #bcbdbd;
}
.contador{
    position: relative;
    top: 3px;
    left: 1px;
  
.contadorBadge{
    padding: 6px;
    padding-top: 5.4px;
    padding-bottom: 10.5px; 
    font-size: 15px;
    display: inline;
}


.badge-white {
    background: transparent;
    border: 1.5px solid;
     font-size: 0.75em; 
    font-weight: normal; 
    padding: 5px; 
     text-transform: uppercase; 
    border-color: #ffffff;
    color: #ffffff;
}

@media print {
    @page {
        size: portrait;
    }
    
    nav,
    footer,
    .btn {
        display: none !important;
    }
    
    .userinfo {
        display: none !important;
    }
    body {
        padding-top: 0;
    }
    // table {
    //     // page-break-after: always;
    // }
    th {
        font-size: 1rem;
    }
    tr {
        border-bottom: 2px solid rgba(0, 0, 0, .15);
    }
    small {
        font-size: 0.7rem;
    }
    .content {
        margin: 0 !important;
    }
    .plex-box>div {
        padding: 0 !important;
    }
    }
}